/*!
 * Additional styles for https://hcid.city
 * Copyleft
 * https://www.gnu.org/licenses/gpl.html
 */

img.head-shot-lg {
	border-radius: 10px;
	width: auto;
	height: 220px;
}

h2.big-strong {
	font-weight: 800;
}