<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Seminar Series Speaker</title>
</head>

<body>

    <template-header id="header" subtitle="" menuseminarspeakers="true" subhead="<br>seminar speaker" page="Seminar_Speakers"></template-header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10" id="bodybox">
                    <div id="app">
                        <ul>
                            <li v-for="(item, index) in items">
                                <div v-if="index == 0" id="speakerInfo">
                                    <h2 style="margin-bottom:.2rem;">
                                        {{ item['fields']['full-name'] }}
                                    </h2>
                                    <span v-if="item['fields']['group-dept']">
                                        <span v-if="item['fields']['org']">
                                            {{ item['fields']['group-dept'] }}, 
                                        </span>
                                    <span v-else>
                                            {{ item['fields']['group-dept'] }} 
                                        </span>
                                    </span>
                                    <span v-if="item['fields']['org']">
                                        {{ item['fields']['org'] }}
                                    </span>
                                    <div>
                                        <br>
                                        <span v-if="item['fields']['photo-url']"><img class="roundedElement responsive-img" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['full-name']" width="200" /></span>
                                    </div>
                                    <p>
                                        <span v-if="item['fields']['twitter']">
                                        <strong>Twitter: </strong><a v-bind:href= "'https://twitter.com/' + item['fields']['twitter']">{{ item['fields']['twitter'] }}</a>
                                    </span>
                                        <br>
                                        <span v-if="item['fields']['scholar-orcid']">
                                        <strong>Academic record: </strong><a v-bind:href="item['fields']['scholar-orcid']">Google Scholar/ORCID</a>
                                    </span>
                                    </p>
                                    <p>
                                        <span class="lbr" v-if="item['fields']['bio']">
                                        <strong>Bio:</strong> {{ item['fields']['bio'] }}
                                    </span>
                                    </p>
                                </div>
                                <h3>
                                    <br>
                                    <strong>Talk Title: 
                                    <span v-if="item['fields']['talk-title']">{{ item['fields']['talk-title'] }}</span>
                                    <span v-else>TBA</span></strong>
                                </h3>
                                <p>
                                    <strong>Time: </strong>
                                    <span v-if="item['fields']['date']">{{ item['fields']['date-str'] }}</span>
                                    <span v-else>TBA</span>
                                    <br />
                                    <strong>Room: </strong>
                                    <span v-if="item['fields']['room']">{{ item['fields']['room'] }}</span>
                                    <span v-else>TBA</span>
                                </p>
                                <div v-if="item['fields']['talk-image']">
                                    <img class="roundedElement responsive-img" v-bind:src="item['fields']['talk-image'][0]['thumbnails']['large']['url']" alt="Photo for talk supplied by speaker" />
                                </div>
                                <p><strong>Abstract: </strong>
                                    <span class="lbr" v-if="item['fields']['talk-abstract']">{{ item['fields']['talk-abstract'] }}</span>
                                    <span v-else>TBA</span></p>
                            </li>
                        </ul>
                    </div>
                    <!--app-->
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>

    <script src="http://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="../js/vue_components.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var last = url.searchParams.get("last");
                    var self = this;
                    this.items = [];
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/seminar-speakers?filterByFormula=(FIND(%22" + last + "%22%2C%7BLast%7D))", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records;
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>

</html>