<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks, speakers" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Seminar Series Speakers</title>
</head>

<body>

    <template-header id="header" subtitle="" subhead="<br>seminar speakers" page="Seminar_Speakers"></template-header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10">
                    <div id="app">
                        <ul class="collection">
                            <li class="collection-item avatar mb-3" v-bind:id="item['fields']['last']" v-for="(item, index) in items" v-if="item['fields']['last']">
                                <img v-if="item['fields']['photo-url']" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['full-name']" class="circle" />
                                <i v-else class="material-icons circle">people</i>
                                <span class="strong mb-1">
                                    <a v-bind:href="'/seminar/speaker?last=' + item['fields']['last']">{{ item['fields']['full-name'] }}</a>
                                </span>
                                <span v-if="item['fields']['group-dept']">
                                    <span v-if="item['fields']['org']">
                                        {{ item['fields']['group-dept'] }}, 
                                    </span>
                                <span v-else>
                                        {{ item['fields']['group-dept'] }} 
                                    </span>
                                </span>
                                <span v-if="item['fields']['org']">
                                    {{ item['fields']['org'] }}
                                </span>
                                <p>
                                    <strong>Talk title: </strong>
                                    <span v-if="item['fields']['talk-title']">{{ item['fields']['talk-title'] }}</span>
                                    <span v-else>TBA</span>
                                </p>
                                <p>
                                    <strong>Time: </strong>
                                    <span v-if="item['fields']['date']">{{ item['fields']['date-str'] }}</span>
                                    <span v-else>TBA</span>
                                    <br />
                                    <strong>Room: </strong>
                                    <span v-if="item['fields']['room']">{{ item['fields']['room'] }}</span>
                                    <span v-else>TBA</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>

    <script src="http://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this;
                    this.items = [];
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/seminar-speakers?view=speakers&sortField=last&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>

</html>