<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks, speakers" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <title>HCID | Visting</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="no-shadows">
                <div class="nav-wrapper white">
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons grey-text text-darken-2">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-small-and-down">
                        <li><a class="dropdown-trigger grey-text text-darken-2" href="#!" data-target="dropdown1">HCID</a></li>
                        <li><a href="./centre/charter" class="grey-text text-darken-2">Charter</a></li>
                        <li><a href="./centre/members" class="grey-text text-darken-2">Members</a></li>
                        <li class="active"><a href="./centre/projects" class="grey-text text-darken-2">Projects</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Side nav structure -->
        <ul class="sidenav" id="mobile-nav">
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a href="../centre/charter" class="menu-subheader">Charter</a></li>
            <li><a href="../centre/members" class="menu-subheader">Members</a></li>
            <li class="active"><a href="../centre/projects" class="menu-subheader">Projects</a></li>
            <li><a href="../centre/calendar" class="menu-subheader">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- HCID dropdown menu -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a class="menu-subheader" href="../centre/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- Page title -->
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l10">
                    <h1 class="page-title move-down">
                        <a class="black-text" href="./">HCID</a>:<br><span class="red-text fade-out-left">Visting</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s11 m7">
                    <h2>Getting here</h2>
                    <div class="my-2">
                        <p>
                            We are in the <strong>College Building</strong> of City, University of London. Our rooms are on the second floor, rooms 202-209 and 210-213.
                        </p>
                        <p>
                            If you're visting us for the first time it's probably easiest if you arrange to meet your host at the College Building reception on the ground floor, and contact him or her when you arrive.
                        </p>
                        <p>
                            The College Building address is at the bottom of this page.
                        </p>
                        <p>You can find us via Google Maps, <a href="https://goo.gl/maps/QbdWpuT8ycp" target="_blank">here</a>.</p>
                    </div>
                    <div class="my-2">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="app">
                    <div class="col s11 m7">
                        <h2>Accomodation</h2>
                        <div v-bind:id="item['fields']['Name']" v-for="item in items" v-if="item['fields']['Name']" class="my-2">
                            <div data-aos="fade-left" data-aos-anchor-placement="bottom-bottom" data-aos-easing="ease-in-out">
                                <div>
                                    <strong>
                                        <span v-if="item['fields']['url']"><a v-bind:href="item['fields']['url']" class="black-text">{{ item['fields']['Name'] }}</a></span>
                                        <span v-else>{{ item['fields']['Name'] }}</span>
                                    </strong>
                                </div>
                                <div>
                                    <span v-if="item['fields']['Note']" class="lbr grey-text text-darken-2">{{ item['fields']['Note'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom" data-aos-easing="ease-in-out">
                    <h5 class="grey-text text-darken-4" style="font-weight:700;">
                        HCID
                    </h5>
                    <span>
					<a class="grey-text text-darken-4" href="https://hcid.city" title="Centre for Human-Computer Interaction Design | City, University of London">Centre for Human-Computer Interaction Design</a>
				</span>
                </div>
                <div id="address" class="col l4 offset-l2 s12" style="margin-top:2.5rem;">
                    <h6 class="grey-text text-darken-1">
                        Address
                    </h6>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">City, University of London</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">College Building</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">276-284 St John Street</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">Clerkenwell</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">London, EC1V 4PB</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-1" href="https://goo.gl/maps/QbdWpuT8ycp">Google Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col 4">
                    <div class="footer-copyright grey lighten-5 grey-text text-lighten-2">
                        <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/copyleft.en.html" title="What is Copyleft? - GNU Project - Free Software Foundation">Copyleft</a>&nbsp;<span class="copyleft">&copy;</span>&nbsp;
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>&nbsp;GNU&nbsp;<a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/gpl.html" title="The GNU General Public License v3.0 - GNU Project - Free Software Foundation">General Public License</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        var app_id = "appVrmQAGy96E1jEP";
        var app_key = "keyC83ksN49wS10kX";
        var appLive = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/accomodation?sortField=Name&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            $('.tabs').tabs();
            $('.sidenav').sidenav();
            $(".fade-in").css("opacity", 0)
        });
        $(window).scroll(function() {
            $(".fade-out-left").css({
                "opacity": 1 - $(window).scrollTop() / 200,
                "margin-left": 1 - $(window).scrollTop() * 2
            });
        });
    </script>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -34.397,
                    lng: 150.644
                },
                zoom: 8
            });
        }
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {
                lat: 51.527187,
                lng: -0.104427
            };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMIU9O1aK_61I3KzIQw16QgXp9b-d6f3M&callback=initMap" type="text/javascript"></script>
</body>

</html>

<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EjAyNzYgU3QgSm9obiBTdCwgQ2xlcmtlbndlbGwsIExvbmRvbiBFQzFWIDROWSwgVUsiGxIZChQKEgl3f4zBWht2SBGKwOG1PzLTbhCUAg&key=AIzaSyAMIU9O1aK_61I3KzIQw16QgXp9b-d6f3M"
allowfullscreen></iframe> -->