<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks, speakers" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <title>HCID | Visting</title>
</head>

<body>

    <template-header id="header" subhead="<br>visiting" subtitle="Getting here" isActiveHCID="true"></template-header>

    <main>
        <div class="container">
            <div class="row  mt-n5">
                <div class="col s11 m7 mt-n5">
                    <div class="mb-2 mt-n5">
                        <p>
                            We are in the <strong>College Building</strong> of City, University of London. Our rooms are on the second floor, rooms 202-209 and 210-213.
                        </p>
                        <p>
                            If you're visting us for the first time it's probably easiest if you arrange to meet your host at the College Building reception on the ground floor, and contact him or her when you arrive.
                        </p>
                        <p>
                            The College Building address is at the bottom of this page.
                        </p>
                        <p>You can find us via Google Maps, <a href="https://goo.gl/maps/QbdWpuT8ycp" target="_blank">here</a>.</p>
                    </div>
                    <!-- <div class="my-2">
                        <div id="map"></div>
                    </div> -->
                    <div class="my-2">
                        <iframe width="600" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Centre+for+Human+Computer+Interaction+Design&key=AIzaSyAMIU9O1aK_61I3KzIQw16QgXp9b-d6f3M" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="app">
                    <div class="col s11 m7">
                        <h2 class="flow-text">Accomodation</h2>
                        <div v-bind:id="item['fields']['Name']" v-for="item in items" v-if="item['fields']['Name']" class="my-2">
                            <div data-aos="fade-left" data-aos-anchor-placement="bottom-bottom" data-aos-easing="ease-in-out">
                                <div>
                                    <strong>
                                        <span v-if="item['fields']['url']"><a v-bind:href="item['fields']['url']" class="black-text">{{ item['fields']['Name'] }}</a></span>
                                        <span v-else>{{ item['fields']['Name'] }}</span>
                                    </strong>
                                </div>
                                <div>
                                    <span v-if="item['fields']['Note']" class="lbr grey-text text-darken-2">{{ item['fields']['Note'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="js/vue_components.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        var app_id = "appVrmQAGy96E1jEP";
        var app_key = "keyC83ksN49wS10kX";
        var appLive = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/accomodation?sortField=Name&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            $('.tabs').tabs();
            $('.sidenav').sidenav();
            $(".fade-in").css("opacity", 0)
        });
        $(window).scroll(function() {
            $(".fade-out-left").css({
                "opacity": 1 - $(window).scrollTop() / 200,
                "margin-left": 1 - $(window).scrollTop() * 2
            });
        });
    </script>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -34.397,
                    lng: 150.644
                },
                zoom: 8
            });
        }
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {
                lat: 51.527187,
                lng: -0.104427
            };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 14,
                    center: uluru
                });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMIU9O1aK_61I3KzIQw16QgXp9b-d6f3M&callback=initMap" type="text/javascript"></script>
</body>

</html>