<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.css">
    <link type="text/css" rel="stylesheet" href="./css/styles.css">

    <script defer type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vuetify@latest/dist/vuetify.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>

    <script defer type="text/javascript" src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

    <script defer type="text/javascript" src="./scripts/cs-uoa-outputs-return.js"></script>
    <title>Author outputs - REF B11 CS City</title>
</head>

<body>
    <div id="app">
        <v-app>

            <v-main>
                <v-container>

                    <v-row justify="center">
                        <v-col cols="12">
                            <div class="mb-5">
                                <h1 class="mt-5 font-weight-bold">Outputs for <span v-for="(item, index) in items" v-if="index == 0">{{item.firstName[0]}} {{item.lastName[0]}}</span></h1>
                            </div>
                        </v-col>
                        <v-col cols="12" md="11">

                            <div class="p-5">
                                <p>We plan to return the following papers as part of our REF 2021 submission.</p>
                                <p>For each output can you :</p>
                                <ol>
                                    <li>Check whether these are your best publications between 2014 and 2020. <a href="mailto:alex.taylor@city.ac.uk">Email Alex</a> if you think you have a better publication.</li>
                                    <li>Finalise or add a 100 word summary. See requirements <a href="">below</a>.</li>
                                    <li>Select an ACM classification for each output. See list of options <a href="">below</a>.</li>
                                    <li>View details, including 100 words, reviews and citation info. (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> to left of output)
                                    </li>
                                    <li>Move an output to the shortlist (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> in rightmost column, check "Submit to REF?")
                                    </li>
                                    <li>Change the rank of an output (click on the rank in the 2nd column)</li>
                                </ol>

                            </div>

                        </v-col>
                    </v-row>

                    <v-row justify="center" class="mt-5">
                        <v-col cols="12">

                            <template>

                                <v-card>
                                    <v-data-table dense sort-by="year" group-desc hide-default-footer items-per-page="100" class="elevation-0" :loading="loading" :headers="headers" :items="items" :item-class="itemRowBackground">

                                        <!-- Expand icon/column -->
                                        <template v-slot:item.data-table-expand="{item, isExpanded, expand}">
                                            {{ item.index }}.
                                            <v-icon small @click="expand(true),dimensions(item.doi)" v-if="!isExpanded" color="primary">mdi-arrow-right</v-icon>
                                            <v-icon small @click="expand(false)" v-if="isExpanded" color="primary">mdi-arrow-bottom-right</v-icon>
                                        </template>

                                        <!-- City Authors -->
                                        <template v-slot:item.authors="props">
                                            <span v-for="props.item.authors">{{ props.item.authors }}</span>
                                        </template>

                                        <!-- Self Score Column -->
                                        <template v-slot:item.selfscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item['Int rate'] && props.item.ref" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item['Int rate'] == props.item.reviewerScore" label small outlined class="ma-2" color="green" text-color="green">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '4*'" label small outlined class="ma-2" color="red" text-color="red">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* +'" label small outlined class="ma-2" color="orange darken-4" text-color="orange darken-4">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3*'" label small outlined class="ma-2" color="orange darken-1" text-color="orange darken-1">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* -'" label small outlined class="ma-2" color="orange lighten-2" text-color="orange lighten-2">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'].includes('2') || props.item['Int rate'].includes('1') || props.item['Int rate'].includes('NA')" label small outlined class="ma-2" color="grey" text-color="grey">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>

                                                    </span>
                                                </template>
                                                <span v-if="props.item['Int rate'] == props.item.reviewerScore" class="text-center">Self scored.<br>Green means a match with reviewer score.</span>
                                                <span v-else class="text-center">Self scored.</span>
                                            </v-tooltip>
                                        </template>

                                        <!-- Reviewer Score Column -->
                                        <template v-slot:item.reviewerscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item.reviewerScore" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item.reviewerScore == props.item['Int rate']" label small class="ma-2" color="green" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '4*'" label small class="ma-2" color="red" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* +'" label small class="ma-2" color="orange darken-4" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3*'" label small class="ma-2" color="orange darken-1" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* -'" label small class="ma-2" color="orange lighten-2" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore.includes('2') || props.item.reviewerScore.includes('1') || props.item.reviewerScore.includes('NA')" label small class="ma-2" color="grey" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                    </span>
                                                </template>
                                                <span v-if="props.item.reviewerScore == props.item['Int rate']" class="text-center">Scored by external reviewer.<br>Green means a match with self score.</span>
                                                <span v-else class="text-center">Scored by external reviewer.</span>
                                            </v-tooltip>
                                        </template>

                                        <!-- Ouput Column -->
                                        <template v-slot:item.output="props">
                                            <p>
                                                <span v-if="props.item.doi"><a class="font-weight-medium" :href="'http://dx.doi.org/' + props.item.doi" target="_new">{{props.item.title}}</a> ({{props.item.year}}) <em>{{props.item.source}}</em> <a :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a></span>
                                                <span v-else>{{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em></span>
                                            </p>
                                        </template>

                                        <!-- Citations column -->
                                        <template v-slot:item.crossref="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <a v-if="props.item.ref" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                        </span>
                                                    </template>
                                                    <span>From CrossRef api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.scopus">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>

                                                        </span>
                                                    </template>
                                                    <span>From Elsiver/Scopus api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.dimensions">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.dimensions}}</a></span>

                                                        </span>
                                                    </template>
                                                    <span>From Dimensions api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                        </template>

                                        <!-- Source Column -->
                                        <template v-slot:item.sourcescore="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on" class="text-truncate">{{ props.item.citeScore }}</span>
                                                    </template>
                                                    <p class="text-center">CiteScore: using Elsiver's journal metric</p>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.sjr">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span v-bind="attrs" v-on="on" class="text-truncate"> / {{props.item.sjr}}</span>
                                                        </span>
                                                    </template>
                                                    <p class="mt-2 font-italic" target="_blank">SJR: SCImago journal rank</p>
                                                </v-tooltip>
                                            </span>
                                        </template>

                                        <!-- Pencil icon / Edit Column -->
                                        <template v-slot:item.actions="props">
                                            <div class="text-center text-truncate">
                                                <v-icon small class="mr-2" @click="showEditDialog(props.item),open('Edit output')" color="primary">mdi-pencil</v-icon>
                                            </div>
                                        </template>

                                        <!-- Expanded row -->
                                        <template v-slot:expanded-item="{ headers, item }">
                                            <td :colspan="headers.length" :id="item.lastName + item.doi" class="py-4">

                                                <v-card class="mx-auto my-5" max-width="600">
                                                    <v-card-text>
                                                        <p><strong>Author(s):</strong> {{ item.authors }}<br>
                                                            <strong>Year:</strong> {{ item.year }}<br>
                                                            <strong>Title:</strong> {{ item.title }}<br>
                                                            <strong v-if="item.source">Conference/Journal:</strong> {{ item.source }}
                                                        </p>


                                                        <p v-if="item.doi">
                                                            <span v-if="item.crossRef"><strong>CrossRef Citations</strong> (<span v-if="item.doi"><a :href="'https://search.crossref.org/?from_ui=&q=' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.crossref.org/education/retrieve-metadata/rest-api/" target="_blank">here</a></span>): <strong>{{ item.crossRef }}</strong><br></span>

                                                            <span v-if="item.scopus"><strong>Scopus Citations</strong> (<span v-if="item.doi"><a :href="'https://www.scopus.com/results/results.uri?numberOfFields=0&src=s&clickedLink=&edit=&editSaveSearch=&origin=searchbasic&authorTab=&affiliationTab=&advancedTab=&scint=1&menu=search&tablin=&searchterm1=' + item.doi + '&field1=DOI&dateType=Publication_Date_Type&yearFrom=Before+1960&yearTo=Present&loadDate=7&documenttype=All&resetFormLink=&st1=10.1145%2F3364181&st2=&sot=b&sdt=b&sl=20&s=DOI%2810.1145%2F3364181%29&sid=1fd35d44ced67f3f279cb0ba062cac7e&searchId=1fd35d44ced67f3f279cb0ba062cac7e&txGid=74f0c916c996f73a1ee9b1e9174bb1eb&sort=plf-f&originationType=b&rr='" target="_blank">more info</a></span><span v-else>see <a href="https://dev.elsevier.com" target="_blank">here</a></span>): <strong>{{ item.scopus }}</strong><br></span>

                                                            <span v-if="item.dimensions"><strong>Dimensions Citations</strong> (<span v-if="item.doi"><a :href="'https://badge.dimensions.ai/details/doi/' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.dimensions.ai/dimensions-apis/" target="_blank">here</a></span>): <strong>{{ item.dimensions }}</strong><br></span>

                                                        <p :id="'dimensions_badge_' + item.doi"></p>

                                                        <p>See <a :href="'https://scholar.google.com/scholar?q=' + item.doi" target="_blank">google scholar</a>.

                                                            See <a href="http://0-apps.webofknowledge.com.wam.city.ac.uk/" target="_blank">Web of Science</a> (requires City login).</p>
                                                        </p>

                                                        <p v-if="item.relativeCitationRatio || item.fieldCitationRatio">
                                                            <span v-if="item.relativeCitationRatio"><a href="https://plus.dimensions.ai/support/solutions/articles/23000018841-what-is-the-rcr-how-is-the-rcr-score-calculated-" target="_blank">Relative Citation Ratio</a>: {{ item.relativeCitationRatio }}<br></span>
                                                            <span v-if="item.fieldCitationRatio"><a href="https://plus.dimensions.ai/support/solutions/articles/23000018848-what-is-the-fcr-how-is-it-calculated-" target="_blank">Field Citation Ratio</a>: {{ item.fieldCitationRatio }}</span>
                                                        </p>

                                                        <p v-if="item.citeScore">
                                                            <strong>Journal CiteScore</strong> (<a href="https://www.elsevier.com/editors-update/story/journal-metrics/citescore-a-new-metric-to-help-you-choose-the-right-journal" target="_blank" rel="noopener noreferrer">Elsiver</a>): <strong>{{ item.citeScore }}</strong>
                                                            <span v-if="item.sjr"><br><strong>Journal rank</strong> (<a href="https://www.scimagojr.com/aboutus.php" target="_blank" rel="noopener noreferrer">SJR</a>): <strong>{{ item.sjr }}</strong></span>
                                                        </p>
                                                        <p v-if="item.hundredWords" class="mb-5">
                                                            <strong>100 Words:</strong> <span v-html="item.hundredWords"></span>
                                                        </p>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-btn text color="blue" small>
                                                            <span v-if="item.attachment"><a :href="item.attachment[0].url" target="_new">Download PDF</a></span>
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>

                                            </td>
                                        </template>

                                    </v-data-table>

                                </v-card>

                            </template>

                        </v-col>
                    </v-row>

                    <!-- Update entry dialog -->
                    <v-dialog v-model="dialog" max-width="640px">
                        <v-card>
                            <v-card-title>
                                <span v-if="editedItem.id" class="left text-truncate">Edit output</span>
                                <span v-else class="left text-truncate">New REF Output</span>
                                <v-spacer></v-spacer>
                                <v-icon small class="text-right" @click="closeDialog(),close('Not saved')" color="primary">mdi-close</v-icon>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12">
                                        <v-text-field v-model="editedItem.authors" label="Authors"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.title" label="Title"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.source" label="Conference or Journal"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.doi" label="DOI (just the number not the http link)"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-select v-model="editedItem.type" :items="typeSelect" label="Type"></v-select>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-text-field v-model="editedItem.year" label="Year"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3">
                                        <v-text-field v-model="editedItem.rank" label="Rank"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3" class="pl-5">
                                        <v-checkbox v-model="editedItem.ref" label="Submit to REF?"></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.hundredWords" label="100 word summary"></v-textarea>
                                    </v-col>
                                    <v-col>
                                        <div>
                                            <p class="text-right">To upload any changes to the database, press "Save".</p>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue" text @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)">Close</v-btn>
                                <v-btn color="blue" text @click="saveItem(editedItem,'saveFormItem'),save('Changes saved')">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Snack bar save messages -->
                    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                        <div class="text-center">{{ snackText }}</div>
                    </v-snackbar>

                </v-container>
            </v-main>
        </v-app>
    </div>

</body>

</html>