<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.css">
    <link type="text/css" rel="stylesheet" href="./css/styles.css">

    <script defer type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vuetify@latest/dist/vuetify.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>

    <script defer type="text/javascript" src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

    <script defer type="text/javascript" src="./scripts/cs-uoa-outputs-return-author.js"></script>
    <title>Author outputs - REF B11 CS City</title>
</head>

<body>
    <div id="app">
        <v-app>

            <v-main>
                <v-container>
                    <!-- Intro -->
                    <v-row justify="center">
                        <v-col cols="12">
                            <div>
                                <h1 class="mt-5 font-weight-bold">REF Outputs: {{ fullName }}</h1>
                            </div>
                        </v-col>
                        <v-col cols="12" md="11" class="my-4">

                            <v-alert border="top" colored-border type="info" elevation="2">

                                <p class="font-weight-black">ACTION</p>
                                <p>We are in the final stages of our preparations for <a href="https://www.ref.ac.uk/" target="_blank">REF 2021</a>.</p>
                                <p>As part of our submission, we plan to return some or all of the outputs listed under "Short-listed outputs" in the top section of the table below.</p>
                                <p>To finalise our REF submission, can you please:</p>
                                <ol>
                                    <li>Check whether these outputs are your highest quality publications (between 2014 and 2020). Use this <a href="#quality-levels">information</a> to judge an output's quality as set out in the REF guidance. <a href="mailto:alex.taylor@city.ac.uk">(Email Alex</a>                                        if you think you have a better publication missing from the table below.)</li>
                                    <li>Finalise or add the factual 100 word summary of significance for each output. See requirements <a href="#100-word-guidance">below</a>.</li>
                                    <li>Select an ACM classification for each output. See list of options <a href="#acm-classification">below</a>.</li>
                                    <li>In the editable fields, update the citation data if it's available, i.e. Google Scholar, Microsoft Academic and WoS.</li>
                                </ol>
                                <p class="mt-3 font-weight-bold">To view details, including citation data, and the option to select an ACM classification and edit the factual 100 word summaries, click the
                                    <v-icon small color="primary">mdi-arrow-right</v-icon> to the left of each output.
                                </p>
                            </v-alert>

                        </v-col>
                    </v-row>

                    <!-- Table -->
                    <v-row justify="center">
                        <v-col cols="12">

                            <template>

                                <v-card>
                                    <v-data-table dense show-expand group-desc group-by="ref" hide-default-footer items-per-page="100" class="elevation-0" :loading="loading" :headers="headers" :items="items" :item-class="itemRowBackground">

                                        <!-- Expand icon/column -->
                                        <template v-slot:item.data-table-expand="{item, isExpanded, expand}">
                                            {{ item.index }}.
                                            <v-icon small @click="expand(true),dimensions(item.doi)" v-if="!isExpanded" color="primary">mdi-arrow-right</v-icon>
                                            <v-icon small @click="expand(false)" v-if="isExpanded" color="primary">mdi-arrow-bottom-right</v-icon>
                                        </template>

                            <!-- City Authors -->
                            <template v-slot:item.authors="props">
                                            <span v-for="props.item.authors">{{ props.item.authors }}</span>
                                        </template>

                            <!-- Self Score Column -->
                            <template v-slot:item.selfscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item['Int rate'] && props.item.ref" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item['Int rate'] == '4*'" label small outlined class="ma-2" color="green" text-color="green">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* +'" label small outlined class="ma-2" color="orange darken-4" text-color="orange darken-4">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3*'" label small outlined class="ma-2" color="orange darken-1" text-color="orange darken-1">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* -'" label small outlined class="ma-2" color="orange lighten-2" text-color="orange lighten-2">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'].includes('2') || props.item['Int rate'].includes('1') || props.item['Int rate'].includes('NA')" label small outlined class="ma-2" color="grey" text-color="grey">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>

                                                    </span>
                                                </template>
                            <span class="text-center">Self scored.</span>
                            </v-tooltip>
                            </template>

                            <!-- Reviewer Score Column -->
                            <template v-slot:item.reviewerscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item.reviewerScore" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item.reviewerScore == '4*'" label small class="ma-2" color="green" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* +'" label small class="ma-2" color="orange darken-4" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3*'" label small class="ma-2" color="orange darken-1" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* -'" label small class="ma-2" color="orange lighten-2" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore.includes('2') || props.item.reviewerScore.includes('1') || props.item.reviewerScore.includes('NA')" label small class="ma-2" color="grey" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                    </span>
                                                </template>
                            <span class="text-left">
                                                    <p>Scored by external reviewer.</p>
                                                    <p>Review: {{ props.item.textReview }}</p>
                                                </span>
                            </v-tooltip>
                            </template>

                            <!-- Output Column -->
                            <template v-slot:item.output="props">
                                            <p>
                                                <span v-if="props.item.doi"><a class="font-weight-medium" :href="'http://dx.doi.org/' + props.item.doi" target="_new">{{props.item.title}}</a> ({{props.item.year}}) <em>{{props.item.source}}</em> <a :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a></span>
                                                <span v-else>{{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em></span>
                                            </p>
                                        </template>

                            <!-- Citations column -->
                            <template v-slot:item.crossref="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <a v-if="props.item.ref" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                        </span>
                                                    </template>
                            <span>From CrossRef api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.scopus">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>

                            </span>
                            </template>
                            <span>From Elsiver/Scopus api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.dimensions">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.dimensions}}</a></span>

                            </span>
                            </template>
                            <span>From Dimensions api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                            </v-tooltip>
                            </span>
                            </template>

                            <!-- Source Column -->
                            <template v-slot:item.sourcescore="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on" class="text-truncate">{{ props.item.citeScore }}</span>
                                                    </template>
                            <p class="text-center">CiteScore: using Elsiver's journal metric</p>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.sjr">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span v-bind="attrs" v-on="on" class="text-truncate"> / {{props.item.sjr}}</span>
                            </span>
                            </template>
                            <p class="mt-2 font-italic" target="_blank">SJR: SCImago journal rank</p>
                            </v-tooltip>
                            </span>
                            </template>

                            <!-- Pencil icon / Edit Column -->
                            <template v-slot:item.actions="props">
                                            <div class="text-center text-truncate">
                                                <v-icon small class="mr-2" @click="showEditDialog(props.item),open('Edit output')" color="primary">mdi-pencil</v-icon>
                                            </div>
                                        </template>

                            <!-- Expanded row -->
                            <template v-slot:expanded-item="{ headers, item }">
                                            <td :colspan="headers.length" :id="item.lastName + item.doi" class="py-4">

                                                <v-card class="mx-auto my-5" max-width="600">
                                                    <v-card-text>

                                                        <v-row>
                                                            <v-col cols="12" justify="center">
                                                                <p>
                                                                    <span class="mt-2 font-weight-black text-uppercase">Output Information:</span>
                                                                <p><strong>Associated author:</strong> {{ item.firstName[0] }} {{ item.lastName[0] }}</p>
                                                                <strong>Author(s):</strong> {{ item.authors }} <br>
                                                                <strong>Year:</strong> {{ item.year }}<br>
                                                                <strong>Title:</strong> {{ item.title }}<br>
                                                                <strong v-if="item.source">Conference/Journal:</strong> {{ item.source }}
                                                                </p>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="12" justify="center">
                                                                <p>
                                                                    <span class="mt-2 font-weight-black text-uppercase">Output metadata:</span><br>

                                                                    <span v-if="item.crossRef"><strong>CrossRef Citations</strong> (<span v-if="item.doi"><a :href="'https://search.crossref.org/?from_ui=&q=' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.crossref.org/education/retrieve-metadata/rest-api/" target="_blank">here</a></span>): <strong>{{ item.crossRef }}</strong><br></span>

                                                                    <span v-if="item.scopus"><strong>Scopus Citations</strong> (<span v-if="item.doi"><a :href="'https://www.scopus.com/results/results.uri?numberOfFields=0&src=s&clickedLink=&edit=&editSaveSearch=&origin=searchbasic&authorTab=&affiliationTab=&advancedTab=&scint=1&menu=search&tablin=&searchterm1=' + item.doi + '&field1=DOI&dateType=Publication_Date_Type&yearFrom=Before+1960&yearTo=Present&loadDate=7&documenttype=All&resetFormLink=&st1=10.1145%2F3364181&st2=&sot=b&sdt=b&sl=20&s=DOI%2810.1145%2F3364181%29&sid=1fd35d44ced67f3f279cb0ba062cac7e&searchId=1fd35d44ced67f3f279cb0ba062cac7e&txGid=74f0c916c996f73a1ee9b1e9174bb1eb&sort=plf-f&originationType=b&rr='" target="_blank">more info</a></span><span v-else>see <a href="https://dev.elsevier.com" target="_blank">here</a></span>): <strong>{{ item.scopus }}</strong><br></span>
                                                                </p>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="4">
                                                                <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.google" label="Google Scholar" hint="Update Google Scholar citations" @change="saveItem(item, 'google'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                        </v-col>
                        <v-col cols="4">
                            <div class="mt-1 px-3 caption">
                                <a v-if="item.doi" :href="'https://scholar.google.com/scholar?q=' + item.doi" target="_blank">Search Google Scholar</a>
                                <a v-else :href="'https://scholar.google.com/scholar?q=' + item.title" target="_blank">Search Google Scholar</a>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="4">
                            <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.msAcademic" label="Microsoft Academic" hint="Update Microsoft Academic citations" @change="saveItem(item, 'msacademic'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                        </v-col>
                        <v-col cols="4">
                            <div class="mt-2 px-3 caption"><a :href="'https://academic.microsoft.com/search?q=' + item.title + '%20Results&f=&orderBy=0&skip=0&take=10'" target="_blank">Search MS Academic</a></div>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="4">
                            <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.wos" label="Web of Science" hint="Update Web of Science" @change="saveItem(item, 'wos'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                        </v-col>
                        <v-col cols="4">
                            <div class="mt-2 px-3 caption"><a href="http://0-apps.webofknowledge.com.wam.city.ac.uk/" target="_blank">Search Web of Science</a> (requires City login)</div>
                        </v-col>
                    </v-row>


                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-select v-model="item.classification" label="select ACM classification" :items="allocation" @change="saveItem(item, 'classification'), save('Classification saved')" outlined dense></v-select>
                            <!-- <v-select v-else v-model="item.allocation[0]" :items="allocation" label="select ACM classification" @change="saveItem(item, 'allocation'), save('Allocation saved')" outlined dense></v-select> -->
                        </v-col>
                        <v-col cols="4">
                            <div class="mt-1 px-3 caption"><a href="https://dl.acm.org/ccs" target="_blank">ACM classification scheme</a>. Also see <a href="#acm-classification">below</a>.</div>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <p v-if="item.dimensions"><strong>Dimensions metadata:</strong><br></p>
                            <p :id="'dimensions_badge_' + item.doi"></p>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <p>
                                <span class="font-weight-black text-uppercase">Publication meta data:</span><br>
                                <span v-if="item.CORE"><strong>CORE:</strong> {{item.CORE}}<br></span>
                                <span v-if="item.impactFactor"><strong>Impact Factor:</strong> {{item.impactFactor}}<br></span>
                                <span v-if="item.hindex"><strong><a href="http://www.scimagojr.com/" target="_blank">h-index</a>:</strong> {{ item.hindex }}<br></span>
                                <span v-if="item.h5index"><strong><a href="https://scholar.google.co.uk/citations?view_op=top_venues&hl=en&vq=eng_humancomputerinteraction" target="_blank">h5-index</a>:</strong> {{item.h5index}}<br></span>
                            </p>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <p v-if="item.citeScore">
                                <strong>Journal CiteScore</strong> (<a href="https://www.elsevier.com/editors-update/story/journal-metrics/citescore-a-new-metric-to-help-you-choose-the-right-journal" target="_blank" rel="noopener noreferrer">Elsiver</a>):
                                <strong>{{ item.citeScore }}</strong>
                                <span v-if="item.sjr"><br><strong>Journal rank</strong> (<a :href="'https://www.scimagojr.com/journalsearch.php?q=' + item.source" target="_blank" rel="noopener noreferrer">SJR</a>): <strong>{{ item.sjr }}</strong></span>
                            </p>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <span class="font-weight-black text-uppercase">REF Info:</span><br>
                            <p class="mb-1">
                                <v-textarea rows="1" auto-grow v-model="item.hundredWords" hint="Summary of output's significance (100 words max)" label="Summary of output's significance (100 words max)" @change="saveItem(item, 'hundredWords'), save('100 words saved')"></v-textarea>
                                <span class="small"><em>If another author has already entered information above, feel free to add further relevant details. If you aren't able to write in prose for whatever reason, use bullet points and we'll do what we can to help with the text. If you are not the lead author/researcher you may want to liaise with them.</em></span>
                            </p>
                        </v-col>
                    </v-row>

                    </v-card-text>

                    <v-card-actions v-if="item.attachment" class="mb-5">
                        <v-btn text color="blue" small>
                            <p><a :href="item.attachment[0].url" target="_new">Download PDF</a></p>
                        </v-btn>
                    </v-card-actions>

                    </v-card>

                    </td>
                    </template>

                    <!-- Group Header -->
                    <template v-slot:group.header="{items, isOpen, toggle}">
                                            <th colspan="100%">
                                                <v-btn text icon small color="black" @click="toggle">
                                                    <v-icon>{{ isOpen ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
                                                </v-btn>
                                                <span v-if="items[0].ref" class="mx-2 subtitle-2">Short-listed outputs</span>
                                                <span v-else class="mx-2 subtitle-2">Backup outputs</span>
                                            </th>
                                        </template>

                    </v-data-table>

                    </v-card>

                    </template>

                    </v-col>
                    </v-row>

                    <!-- 100 words guidance -->
                    <v-row justify="center" class="mt-5">
                        <v-col cols="10">
                            <h2 id="100-word-guidance">How to write the factual information summary?</h2>
                            (100 Word summaries)
                            <div>The summaries for your outputs are very important. They are meant to demonstrate each output's significance and give the REF panel an indication of <em>"factual information about the research questions, methodology or means of
                                    dissemination... not described in the output itself"</em>. This information will likely have a significant impact on the review of the output so it's important you follow the guidance. Also, keep the summary brief.
                                The REF guidance suggests <em>"in most cases, sufficient information will be provided in significantly fewer words than the 100-word limit"</em>.</div>
                        </v-col>
                        <v-col cols="10">
                            <h3>Examples:</h3>
                            <div>The University of Edinburgh have a helpful page with examples <a class="has-text-link" href="https://web.inf.ed.ac.uk/infweb/research/ref/outputs/example-100-words" target="_blank">here</a>.<br> I've collated additional examples
                                <a href="100-words.html#examples" target="_blank">here</a>.
                            </div>
                        </v-col>

                        </v-col>
                        <v-col cols="10">
                            <h3>Include information on:</h3>
                            <ul>
                                <li><strong>Impact on state of art</strong>, e.g. best paper awards, related keynotes, cited as seminal work by important people/institutions. <em>Hint: as a start, use the Dimensions badge to check citations</em>.</li>
                                <li><strong>Further developments</strong>, e.g. taken up in subsequent research, especially by leaders in the field, or used as a basis for a major grant or partnership.</li>
                                <li><strong>External recognition</strong>, e.g. used in commercial contexts, informed patents, used by startups, or used in wider societal impact or public policy.</li>
                            </ul>

                        </v-col>
                        <v-col cols="10">
                            <h3>Do not include:</h3>
                            <ul>
                                <li>A synopsis. This is not meant to be an abstract.</li>
                                <li>Citation data. This is provided to the REF panel, independently, likely using Web of Science metadata.</li>
                                <li>Opinions of the quality of the output. This is for the sub-panel to do.</li>
                                <li>Non verifiable information. You may need to provide information on how to verufy any claims in the 100 words.</li>
                            </ul>
                        </v-col>
                        <v-col cols="10">
                            <h3>Writing suggestions:</h3>
                            <ul>
                                <li>Focus a non-expert on the work's contribution and significance.</li>
                                <li>To structure the information: begin by outlining the context for the work in a single sentence. The second sentence should then start with “This is significant because”, or something similar.</li>
                                <li>Be succinct, and make factual points that are verifiable (using external references where appropriate).</li>
                                <li>Compare the contribution to other work in your area if it highlights originality, rigour or significance.</li>
                                <li>In most cases, sufficient information can be provided in significantly fewer words than the 100 word limit.</li>
                            </ul>
                        </v-col>
                    </v-row>

                    <v-divider class="my-5"></v-divider>

                    <!-- Quality and assessment guidance -->
                    <v-row justify="center" class="mt-5">
                        <v-col cols="10">
                            <div id="quality-levels">
                                <h2>How will outputs be judged?</h2>
                                <p>Outputs will be judged against a <a href="https://hcid.city/ref/levels" target="_blank"><em>quality profile</em></a>:</p>
                                <ul>
                                    <li>
                                        <strong>Four Star</strong>: Quality that is world-leading in terms of originality, significance and rigour.
                                    </li>
                                    <li>
                                        <strong>Three Star</strong>: Quality that is internationally excellent in terms of originality, significance and rigour but which falls short of the highest standards of excellence.
                                    </li>
                                    <li>
                                        <strong>Two Star</strong>: Quality that is recognised internationally in terms of originality, significance and rigour.
                                    </li>
                                    <li>
                                        <strong>One Star</strong>: Quality that is recognised nationally in terms of originality, significance and rigour.
                                    </li>
                                    <li>
                                        <strong>Unclassified</strong>: Quality that falls below the standard of nationally recognised work. Or work which does not meet the published definition of research for the purposes of this assessment.
                                    </li>
                                </ul>
                            </div>
                        </v-col>
                        <v-col cols="10">
                            <h3 id="criteria"><strong>Originality, Significance and Rigour</strong></h3>
                            <div>
                                <p>The following will be used to determine the quality profile and start rating:</p>
                                <ul>
                                    <li><strong>Originality</strong> will be understood as the extent to which the output introduces a new way of thinking about a subject, or is distinctive or transformative compared with previous work in an academic field.
                                    </li>
                                    <li><strong>Significance</strong> will be understood as the extent to which the work has exerted, or is likely to exert, an influence on an academic field or practical applications.</li>
                                    <li><strong>Rigour</strong> will be understood as the extent to which the purpose of the work is clearly articulated, an appropriate methodology for the research area has been adopted, and compelling evidence presented
                                        to show that the purpose has been achieved.</li>
                                </ul>
                            </div>
                        </v-col>
                    </v-row>

                    <v-divider class="my-5"></v-divider>

                    <!-- ACM classification guidance -->
                    <v-row justify="center" class="mt-5">
                        <v-col cols="10">
                            <div id="acm-classification">
                                <h2>What ACM classification should I use?</h2>
                                <p>We are required to use the <a href="https://dl.acm.org/ccs" target="_blank">ACM classification scheme</a> to classify all outputs. In the table above expand the view for each output using the
                                    <v-icon small color="primary">mdi-arrow-right</v-icon> icon. Then select the most appropriate option from the drop down menu. The scheme is as follows:
                                </p>
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left">
                                                        Classification
                                                    </th>
                                                    <th class="text-left">
                                                        Information
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in acmClass" :key="item.allocation">
                                                    <td class="font-weight-light small">{{ item.allocation }}</td>
                                                    <td class="font-weight-thin small">{{ item.information }}</td>
                                                </tr>
                                            </tbody>
                                        </template>
                                </v-simple-table>
                                </template>
                            </div>
                        </v-col>
                    </v-row>

                    <!-- Update entry dialog -->
                    <v-dialog v-model="dialog" max-width="640px">
                        <v-card>
                            <v-card-title>
                                <span v-if="editedItem.id" class="left text-truncate">Edit output</span>
                                <span v-else class="left text-truncate">New REF Output</span>
                                <v-spacer></v-spacer>
                                <v-icon small class="text-right" @click="closeDialog(),close('Not saved')" color="primary">mdi-close</v-icon>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12">
                                        <v-text-field v-model="editedItem.authors" label="Authors"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.title" label="Title"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.source" label="Conference or Journal"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.doi" label="DOI (just the number not the http link)"></v-textarea>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-select v-model="editedItem.type" :items="typeSelect" label="Type"></v-select>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field v-model="editedItem.year" label="Year"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.hundredWords" label="100 word summary"></v-textarea>
                                    </v-col>
                                    <v-col>
                                        <div>
                                            <p class="text-right">To upload any changes to the database, press "Save".</p>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue" text @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)">Close</v-btn>
                                <v-btn color="blue" text @click="saveItem(editedItem,'saveFormItem'),save('Changes saved')">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Snack bar save messages -->
                    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                        <div class="text-center">{{ snackText }}</div>
                    </v-snackbar>

                </v-container>
            </v-main>
        </v-app>
    </div>

</body>

</html>