<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/roboto-fontface@0.10.0/css/roboto/roboto-fontface.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.3.45/css/materialdesignicons.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.css">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>

                    <v-row justify="center">
                        <v-col cols="12">
                            <div class="mb-5">
                                <h1 class="mt-5 font-weight-bold"> REF 2021 Outputs: <span v-for="(item, index) in items" v-if="index == 0" class="font-weight-black">Specialism {{item.specialism}}</span></h1>
                            </div>
                        </v-col>
                        <v-col cols="12" md="11">
                            <div>
                                <p v-for="(item, index) in items" v-if="index == 0">Below is a list of <span class="font-italic">{{item.specialism}}</span> outputs that could potentially be included as part of City's <a href="https://www.ref.ac.uk/panels/units-of-assessment/" target="_blank">B-11 Unit of Assessment</a>                                    (i.e., Computer Science), <a href="https://ref.ac.uk/about/" target="_blank">REF 2021</a> submission.</p>
                                <p>In the table, the checked (
                                    <v-icon small color="primary">mdi-check</v-icon>) outputs (in the top half of the table) are currently shortlisted as candidates for submission. A long-list is included if you think an output might be missing.</p>
                                <p>
                                    For the eternal review process and, eventually, in order to identify outputs for our 2021 REF submission, Pplease rank the outputs from highest (1) to lowest. This is not intended to be indicative of individual staff member's work, but purely for the
                                    purposes of identifying strong REF output candidates.
                                </p>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row justify="center">
                        <v-col cols="12">
                            <v-card>

                                <v-data-table disable-pagination hide-default-footer show-expand group-by="ref" group-desc :sort-by="sortBy" multi-sort mobile-breakpoint="800" class="elevation-0" :loading="loading" :headers="headers" :items="items" :single-expand="singleExpand" :expanded.sync="expanded">

                                    <!-- Expand icon/column -->
                                    <template v-slot:item.data-table-expand="{item, isExpanded, expand}">
                                        <v-icon small @click="expand(true)" v-if="!isExpanded" color="primary">mdi-arrow-right</v-icon>
                                        <v-icon small @click="expand(false)" v-if="isExpanded" color="primary">mdi-arrow-bottom-right</v-icon>
                                    </template>

                                    <!-- Primary Author Column -->
                                    <template v-slot:item.author="props">
                                        <div v-if="props.item.ref">
                                            <span v-for="first in props.item.firstName">{{ first }}</span> <span v-for="last in props.item.lastName">{{ last }}</span>
                                        </div>
                                        <div v-else class="text--disabled">
                                            <span v-for="first in props.item.firstName">{{ first }}</span> <span v-for="last in props.item.lastName">{{ last }}</span>
                                        </div>
                                    </template>

                                    <!-- Rank Column -->
                                    <template v-slot:item.rank="props">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-edit-dialog :return-value.sync="props.item.rank" large @save="saveItem(props.item,'rank'),save('Rank saved')" @cancel="cancel('Not saved')" @open="open('Rank output')">
                                                    <div v-if="props.item.ref" v-bind="attrs" v-on="on" class="text-truncate text-decoration-underline blue--text text--darken-2">
                                                        {{ props.item.rank }}
                                                    </div>
                                                    <template v-slot:input>
                                                        <v-text-field v-model.lazy="props.item.rank" label="Edit" hint="Ent number 1 or above. 1 is highest" flat single-line autofocus>
                                                        </v-text-field>
                                                    </template>
                                    </v-edit-dialog>
                                    </template>
                                    <span class="text-center">Select to enter rank -<br>rank order outputs<br>starting from 1 (highest)</span>
                                    </v-tooltip>
                                    </template>

                                    <!-- REF Column -->
                                    <template v-slot:item.rf="props">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <div v-bind="attrs" v-on="on" class="text-truncate">
                                                    <v-simple-checkbox v-if="props.item.ref" v-model="props.item.ref" @click="cancel('Removed from shortlist'),saveItem(props.item,'ref')"></v-simple-checkbox>
                                                    <v-simple-checkbox v-else v-model="props.item.ref" @click="save('Added to shortlist'),saveItem(props.item,'ref')" 
                                                    label="grey lighten-5"
                                                    color="grey lighten-5"
                                                    value="grey lighten-5"></v-simple-checkbox>
                                                </div>
                                            </template>
                                    <span class="text-center">Check to be shortlisted for REF.</span>
                                    </v-tooltip>
                                    </template>

                                    <!-- Review Column -->
                                    <template v-slot:item.review="props">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <div v-bind="attrs" v-on="on" class="text-truncate">
                                                    <v-simple-checkbox v-if="props.item.ref && props.item.review" v-model="props.item.review" @click="cancel('Not selected for review'),saveItem(props.item,'review')"></v-simple-checkbox>
                                                    <v-simple-checkbox v-if="props.item.ref && !props.item.review" v-model="props.item.review" @click="save('Selected for review'),saveItem(props.item,'review')"></v-simple-checkbox>
                                                </div>
                                            </template>
                                    <span class="text-center">Check to be reviewed.</span>
                                    </v-tooltip>
                                    </template>

                                    <!-- Ouput Column -->
                                    <template v-slot:item.output="props">
                                        <p v-if="props.item.ref">
                                            <span v-if="props.item.doi"><a class="font-weight-medium" :href="'http://dx.doi.org/' + props.item.doi" target="_new">{{props.item.title}}</a> ({{props.item.year}}) <em>{{props.item.source}}</em> <a :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a></span>
                                            <span v-else>{{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em></span>
                                        </p>
                                        <p v-else class="text--disabled">
                                            {{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em> <a v-if="props.item.doi" class="blue-grey--text text--lighten-3" :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a>
                                        </p>
                                    </template>

                                    <!-- Hundred Words Column -->
                                    <template v-slot:item.hundredwords="props">
                                        <div>
                                            <p v-if="props.item.ref">{{props.item.hundredWords}}</p>
                                            <p v-else class="text--disabled">{{props.item.hundredWords}}</p>
                                        </div>
                                    </template>

                                    <!-- Citations column -->
                                    <template v-slot:item.crossref="props">
                                        <span>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">
                                                        <a v-if="props.item.ref" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                        <a v-else class="text--disabled" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                    </span>
                                                </template>
                                    <span>From CrossRef api.<br>
                                                    Click for Google Scholar result.
                                                    <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                </span>
                                    </v-tooltip>
                                    </span>
                                    <span v-if="props.item.scopus">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">
                                                        <span v-if="props.item.ref"> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>
                                    <span v-else class="text--disabled"> / <a class="text--disabled" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>
                                    </span>
                                    </template>
                                    <span>From Elsiver/Scopus api.<br>
                                                    Click for Google Scholar result.
                                                    <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                </span>
                                    </v-tooltip>
                                    </span>
                                    </template>

                                    <!-- Source Column -->
                                    <template v-slot:item.sourcescore="props">
                                        <span>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item.ref" v-bind="attrs" v-on="on" class="text-truncate">{{ props.item.citeScore }}</span>
                                                    <span v-else v-bind="attrs" v-on="on" class="text-truncate text--disabled">{{ props.item.citeScore }}</span>
                                                </template>
                                    <p class="text-center">CiteScore: using Elsiver's journal metric</p>
                                    </v-tooltip>
                                    </span>
                                    <span v-if="props.item.sjr">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">
                                                        <span v-if="props.item.ref" v-bind="attrs" v-on="on" class="text-truncate"> / {{props.item.sjr}}</span>
                                    <span v-else v-bind="attrs" v-on="on" class="text-truncate text--disabled"> / {{props.item.sjr}}</span>
                                    </span>
                                    </template>
                                    <p class="mt-2 font-italic" target="_blank">SJR: SCImago journal rank</p>
                                    </v-tooltip>
                                    </span>
                                    </template>

                                    <!-- Pencil icon / Edit Column -->
                                    <template v-slot:item.actions="props">
                                        <div class="text-center text-truncate">
                                            <v-icon small class="mr-2" @click="showEditDialog(props.item),open('Edit output')" color="primary">mdi-pencil</v-icon>
                                        </div>
                                    </template>

                                    <!-- Expanded row -->
                                    <template v-slot:expanded-item="{ headers, item }">
                                        <td :colspan="headers.length" :id="item.lastName + item.doi">
                                            <div class="mt-2">
                                                <p><strong>Author(s):</strong> {{ item.authors }}<br>
                                                    <strong>Year:</strong> {{ item.year }}<br>
                                                    <strong>Title:</strong> {{ item.title }}<br>
                                                    <strong v-if="item.source">Conference/Journal:</strong> {{ item.source }}</p>
                                                <p v-if="item.doi">
                                                    <span v-if="item.crossRef"><strong>Citations</strong> (<a href="https://www.crossref.org/education/retrieve-metadata/rest-api/">Crossref API</a>): <strong>{{ item.crossRef }}</strong><br></span>
                                                    <span v-if="item.scopus"></span><strong>Citations</strong> (<a href="https://dev.elsevier.com">Elsiver/Scopus API</a>): <strong>{{ item.scopus }}</strong><br></span>
                                                    See google scholar <a :href="'https://scholar.google.com/scholar?q=' + item.doi" target="_blank">here</a>.
                                                </p>
                                                <p v-if="item.citeScore">
                                                    <strong>Journal CiteScore</strong> (<a href="https://www.elsevier.com/editors-update/story/journal-metrics/citescore-a-new-metric-to-help-you-choose-the-right-journal" target="_blank" rel="noopener noreferrer">Elsiver</a>): <strong>{{ item.citeScore }}</strong>
                                                    <span v-if="item.sjr"><br><strong>Journal rank</strong> (<a href="https://www.scimagojr.com/aboutus.php" target="_blank" rel="noopener noreferrer">SJR</a>): <strong>{{ item.sjr }}</strong></span>
                                                </p>
                                            </div>
                                        </td>
                                    </template>

                                    <!-- Group Header -->
                                    <template v-slot:group.header="{items, isOpen, toggle}">
                                        <th colspan="100%">
                                            <v-btn text icon small color="black" @click="toggle">
                                                <v-icon>{{ isOpen ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
                                            </v-btn>
                                            <span v-if="items[0].ref" class="mx-2 subtitle-2">Short-listed for REF</span>
                                            <span v-else class="mx-2 subtitle-2">Long-listed</span>
                                        </th>
                                    </template>

                                </v-data-table>

                                <!-- Update entry dialog -->
                                <v-dialog v-model="dialog" max-width="640px">
                                    <v-card>
                                        <v-card-title>
                                            <span v-if="editedItem.id" class="left text-truncate">Edit output</span>
                                            <span v-else class="left text-truncate">New REF Output</span>
                                            <v-spacer></v-spacer>
                                            <v-icon small class="text-right" @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)" color="primary">mdi-close</v-icon>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-row>
                                                <v-col cols="12" sm="12">
                                                    <v-text-field v-model="editedItem.authors" label="Authors"></v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12">
                                                    <v-textarea rows="1" auto-grow v-model="editedItem.title" label="Title"></v-textarea>
                                                </v-col>
                                                <v-col cols="12" sm="12">
                                                    <v-textarea rows="1" auto-grow v-model="editedItem.source" label="Conference or Journal"></v-textarea>
                                                </v-col>
                                                <v-col cols="12" sm="12">
                                                    <v-textarea rows="1" auto-grow v-model="editedItem.doi" label="DOI (just the number not the http link)"></v-textarea>
                                                </v-col>
                                                <v-col cols="12" sm="3">
                                                    <v-select v-model="editedItem.type" :items="typeSelect" label="Type"></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="3">
                                                    <v-text-field v-model="editedItem.year" label="Year"></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="3">
                                                    <v-text-field v-model="editedItem.rank" label="Rank"></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="3" class="pl-5">
                                                    <v-checkbox v-model="editedItem.ref" label="Submit to REF?"></v-checkbox>
                                                </v-col>
                                                <v-col cols="12" sm="12">
                                                    <v-textarea rows="1" auto-grow v-model="editedItem.hundredWords" label="100 word summary"></v-textarea>
                                                </v-col>
                                                <v-col>
                                                    <div>
                                                        <p class="text-right">To upload any changes to the database, press "Save".</p>
                                                    </div>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="blue" text @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)">Close</v-btn>
                                            <v-btn color="blue" text @click="saveItem(editedItem,'saveFormItem'),save('Changes saved')">Save</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>

                                <!-- Snack bar save messages -->
                                <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                                    <div class="text-center">{{ snackText }}</div>
                                </v-snackbar>

                            </v-card>
                        </v-col>
                    </v-row>

                </v-container>
            </v-content>
        </v-app>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script>
        const apiToken = "keyAKLpRf8ec2XWH9",
            airTableApp = "appunQ0V4X7SQIIk7",
            airTableName = "tblDN6QUoVueC6fkg",
            airTableView = "viw35VHz91GGUnt1q";

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    loading: true,
                    expanded: [],
                    singleExpand: true,
                    snack: false,
                    snackColor: '',
                    snackText: '',
                    sortBy: 'rank',
                    value: '',
                    rules: {
                        counter: value => {
                            const count = value.match(/\w+/g).length.toString()
                            return value.match(/\w+/g).length >= 100 || count + "/100"
                        },
                        max: value => value.match(/\w+/g).length <= 100 || "Max 100 words"
                    },
                    headers: [{
                        text: '',
                        value: 'data-table-expand'
                    }, {
                        text: 'Primary Author',
                        value: 'author',
                        width: '12%',
                        sortable: false
                    }, {
                        text: 'Rank',
                        value: 'rank',
                        align: 'center',
                        width: '10%'
                    }, {
                        text: 'REF',
                        value: 'rf',
                        width: '5%',
                        sortable: false
                    }, {
                        text: 'Review',
                        value: 'review',
                        width: '5%',
                        sortable: false
                    }, {
                        text: 'Output',
                        value: 'output',
                        width: '20%',
                        sortable: false
                    }, {
                        text: "100 word summary",
                        value: "hundredwords",
                        sortable: false,
                        width: '30%'
                    }, {
                        text: "Citations",
                        value: "crossref",
                        align: 'center',
                        width: '8%',
                        sortable: false
                    }, {
                        text: "Source",
                        value: "sourcescore",
                        align: 'center',
                        width: '8%',
                        sortable: false
                    }, {
                        text: 'Edit',
                        value: 'actions',
                        sortable: false
                    }],
                    items: [],
                    cites: "",
                    typeSelect: ['Journal', 'Conference', 'Book', 'Part of book', 'Patent', 'Code'],
                    dialog: false, // used to toggle the dialog
                    editedItem: {} // empty holder for edit output dialog
                }
            },
            mounted() {
                this.loadItems()
            },
            methods: {
                showEditDialog(item) {
                    this.editedItem = item || {};
                    this.dialog = !this.dialog; /***** could delete? ****/
                    //this.sortBy = ''
                },
                closeDialog() {
                    this.dialog = false;
                    this.close('Not saved');
                    localStorage.clear(); /***** here debug so cite counts can be retrieved ****/
                    this.sortBy = 'rank'
                },
                loadItems() {
                    let url = new URL(window.location.href);
                    let specialism = url.searchParams.get("spec");
                    const fields = "fields%5B%5D=authorID&fields%5B%5D=authorName&fields%5B%5D=title&fields%5B%5D=firstName&fields%5B%5D=lastName&fields%5B%5D=year&fields%5B%5D=source&fields%5B%5D=authors&fields%5B%5D=type&fields%5B%5D=ref&fields%5B%5D=doi&fields%5B%5D=hundredWords&fields%5B%5D=specialism&fields%5B%5D=rank&fields%5B%5D=crossRef&fields%5B%5D=scopus&fields%5B%5D=refScore&fields%5B%5D=issn&fields%5B%5D=isbn&fields%5B%5D=citeScore&fields%5B%5D=sourceID&fields%5B%5D=sjr&fields%5B%5D=review";
                    const sort = "sort%5B0%5D%5Bfield%5D=lastName&sort%5B0%5D%5Bdirection%5D=asc";
                    let submissionURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${fields}&${sort}&filterByFormula=FIND(%22${specialism}%22%2C%7Bspecialism%7D)`;
                    this.items = [];
                    axios.get(submissionURL, {
                            headers: {
                                Authorization: "Bearer " + apiToken
                            }
                        })
                        .then((response) => {
                            this.items = response.data.records.map((item) => {
                                return {
                                    id: item.id,
                                    ...item.fields
                                }
                            })
                            if (!sessionStorage.loaded) {
                                for (let i = 0; i < this.items.length; i++) {
                                    if (this.items[i].doi) {
                                        //this.getOutputMetaData(this.items[i])
                                        // Only when we want to run all citation counts
                                    }
                                }
                            }
                            this.loading = false; // Removes table loader graphic
                        }).catch((error) => {
                            console.log(error)
                        })
                },
                saveItem(item, key) {
                    let data = item,
                        method = "patch",
                        id = item.id,
                        url = `https://api.airtable.com/v0/${airTableApp}/${airTableName}/${id}`;

                    if (key === "rank") {
                        data = {
                            fields: {
                                rank: item.rank
                            }
                        }
                    } else if (key === "ref") {
                        data = {
                            fields: {
                                review: item.ref
                            }
                        }
                    } else if (key === "review") {
                        data = {
                            fields: {
                                review: item.review
                            }
                        }
                    } else if (key === "crossRef") {
                        data = {
                            fields: {
                                crossRef: item.crossRef,
                                issn: item.issn
                            }
                        }
                    } else if (key === "scopus") {
                        data = {
                            fields: {
                                scopus: item.scopus
                            }
                        }
                    } else if (key === "saveFormItem") {
                        data = {
                            fields: item
                        }
                    } else if (key === "outputMetaData") {
                        data = {
                            fields: item
                        }
                    } else {
                        data = {
                            records: item
                        }
                        delete data.records.fields.id
                    }
                    axios[method](url,
                        data, {
                            headers: {
                                Authorization: "Bearer " + apiToken,
                                "Content-Type": "application/json"
                            },
                            transformRequest: [(data) => {
                                if (data.fields.id) {
                                    delete data.fields.id // must remove id from the data for airtable patch to work
                                }
                                if (key === "saveFormItem") {
                                    delete data.fields.firstName; // must remove all computed fields if saving entire record
                                    delete data.fields.lastName;
                                    delete data.fields.authorName;
                                    delete data.fields.authorID;
                                    //delete data.fields.Centre
                                }
                                return JSON.stringify(data);
                            }]
                        }
                    ).then(response => {
                        if (response.data && response.data.id) {
                            this.editedItem.id = response.data.id
                            if (!id) {
                                this.items.push(this.editedItem)
                            }
                            this.editedItem = {}
                        }
                        if (key === "saveFormItem") {
                            this.dialog = !this.dialog;
                            setTimeout(function() {
                                location.reload();
                            }, 500)
                        }
                    }).catch(error => {
                        console.log(error.response)
                    })
                },
                save(msg) {
                    this.snack = true;
                    this.snackColor = 'success';
                    this.snackText = msg || 'Change uploaded';
                    this.sortBy = 'rank'
                },
                cancel(msg) {
                    this.snack = true;
                    this.snackColor = 'error';
                    this.snackText = msg || 'Not uploaded';
                    this.sortBy = 'rank'
                },
                open(msg) {
                    this.snack = true;
                    this.snackColor = 'info';
                    this.snackText = msg || 'Dialog opened'
                },
                close(msg) {
                    this.snack = true;
                    this.snackColor = 'error';
                    this.snackText = msg || 'Not uploaded';
                    this.sortBy = 'rank'
                },
                citeCount(item) {
                    if (item.doi) {
                        let doiURL = "https://api.crossref.org/works/" + item.doi;
                        axios.get(doiURL)
                            .then((response) => {
                                item.crossRef = response.data.message["is-referenced-by-count"].toString();
                                if (item.type === "Journal") {
                                    item.issn = response.data.message["ISSN"][0]
                                }
                                if (item.type === "Conference") {
                                    item.isbn = response.data.message["ISBN"][0]
                                }
                                this.saveItem(item, "crossRef");
                                sessionStorage.loaded = 1
                            }).catch((error) => {
                                console.log(error)
                            })
                    }
                },
                scopusCount(item) {
                    if (item.doi) {
                        const elKey = "7f1899f42f07990cb442322cb322c588";
                        let scopusApiURL = `https://api.elsevier.com/content/search/scopus?apiKey=${elKey}&query=DOI(${item.doi})&field=citedby-count`;
                        axios.get(scopusApiURL, {
                            headers: {
                                'Access-Control-Allow-Origin': '*',
                                'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept'
                            }
                        }).then((response) => {
                            item.scopus = response.data["search-results"].entry[0]["citedby-count"];
                            this.saveItem(item, "scopus")
                        }).catch((error) => {
                            console.log(error)
                        })
                    }
                },
                getOutputMetaData(item) {
                    const elsiverKey = "7f1899f42f07990cb442322cb322c588";
                    let crossrefURL = `https://api.crossref.org/works/${item.doi}`,
                        scopusURL = `https://api.elsevier.com/content/search/scopus?apiKey=${elsiverKey}&query=DOI(${item.doi})&field=citedby-count,source-id`,
                        sourceIDURL = `https://api.elsevier.com/content/serial/title?apiKey=${elsiverKey}&source-id=${item.sourceID}`,
                        scopusHeaders = `headers: {
                                    'Access-Control-Allow-Origin': '*',
                                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept'
                                }`;
                    var fields = {};
                    fields.id = item.id;
                    if (item.doi && item.sourceID) {
                        axios.all([
                            axios.get(crossrefURL),
                            axios.get(scopusURL, {
                                scopusHeaders
                            }),
                            axios.get(sourceIDURL, {
                                scopusHeaders
                            })
                        ]).then((response) => {
                            console.log("Update output and source metadata using SourceID.");
                            fields.crossRef = response[0].data.message["is-referenced-by-count"].toString();
                            fields.scopus = response[1].data["search-results"].entry[0]["citedby-count"];
                            fields.citeScore = response[2].data['serial-metadata-response']['entry'][0]['citeScoreYearInfoList']['citeScoreCurrentMetric'];
                            fields.sjr = response[2].data['serial-metadata-response']['entry'][0]['SJRList']['SJR'][0]['$'];
                            this.saveItem(fields, "outputMetaData")
                        }).catch((error) => {
                            console.log(error)
                        })
                    } else if (item.doi && item.issn) {
                        let elsiverURL = `https://api.elsevier.com/content/serial/title?apiKey=7f1899f42f07990cb442322cb322c588&issn=${item.issn}`;
                        axios.all([
                            axios.get(crossrefURL),
                            axios.get(scopusURL, {
                                scopusHeaders
                            }),
                            axios.get(elsiverURL, {
                                scopusHeaders
                            })
                        ]).then((response) => {
                            console.log("Update output and source metadata using ISSN.");
                            fields.crossRef = response[0].data.message["is-referenced-by-count"].toString();
                            if (item.type === "Journal") {
                                fields.issn = response[0].data.message["ISSN"][0];
                                fields.citeScore = response[2].data['serial-metadata-response']['entry'][0]['citeScoreYearInfoList']['citeScoreCurrentMetric'];
                                fields.sjr = response[2].data['serial-metadata-response']['entry'][0]['SJRList']['SJR'][0]['$'];
                            }
                            if (item.type === "Conference") {
                                //fields.isbn = response[0].data.message["ISBN"][0];
                            }
                            fields.scopus = response[1].data["search-results"].entry[0]["citedby-count"];
                            fields.sourceID = response[1].data["search-results"].entry[0]["source-id"];
                            this.saveItem(fields, "outputMetaData")
                        }).catch((error) => {
                            console.log(error)
                        })
                    } else if (item.doi) {
                        axios.all([
                            axios.get(crossrefURL),
                            axios.get(scopusURL, {
                                headers: {
                                    'Access-Control-Allow-Origin': '*',
                                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept'
                                }
                            })
                        ]).then((response) => {
                            fields.sourceID = response[1].data["search-results"].entry[0]["source-id"];
                            fields.id = item.id;
                            fields.crossRef = response[0].data.message["is-referenced-by-count"].toString();
                            if (item.type === "Journal") {
                                fields.issn = response[0].data.message["ISSN"][0];
                            }
                            if (item.type === "Conference") {
                                fields.isbn = response[0].data.message["ISBN"][0];
                            }
                            fields.scopus = response[1].data["search-results"].entry[0]["citedby-count"];
                            console.log("Update output metadata using doi.");
                            this.saveItem(fields, "outputMetaData")
                        }).catch((error) => {
                            console.log(error)
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>