<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.css">
    <link type="text/css" rel="stylesheet" href="./css/styles.css">

    <script defer type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vuetify@latest/dist/vuetify.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>

    <script defer type="text/javascript" src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

    <script defer type="text/javascript" src="./scripts/cs-uoa-outputs-return.js"></script>


    <title>Outputs - REF B11 CS City</title>
</head>

<body>
    <div id="app">
        <v-app>

            <v-main>
                <v-container>

                    <!-- Intro blurb -->
                    <v-row justify="center">
                        <v-col cols="12">
                            <div class="mb-5">
                                <h1 class="mt-5 font-weight-bold">UoA B11 REF 2021 Outputs</h1>
                            </div>
                        </v-col>
                        <v-col cols="12">

                            <div class="ml-5 py-5">
                                <p>CS outputs to be returned for REF 2021.</p>
                                <p>For each heading you can:</p>
                                <ol>
                                    <li>Expand the list (click
                                        <v-icon color="grey">mdi-chevron-down</v-icon> to right of heading)
                                    </li>
                                </ol>
                                <p class="mt-5">For each output you can:</p>
                                <ol>
                                    <li>View details, including 100 words, reviews and citation info. (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> to left of output)
                                    </li>
                                    <li>Move an output to the shortlist (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> in rightmost column, check "Submit to REF?")
                                    </li>
                                    <li>Change the rank of an output (click on the rank in the 2nd column)</li>
                                    <li>View individual author's outputs (click on author's name)</li>
                                </ol>
                            </div>

                        </v-col>
                    </v-row>

                    <!-- Rows -->
                    <v-row justify="center">
                        <v-col cols="12">

                            <template>
                                <div class="text-center" :style="{visibility: loading ? 'visible' : 'hidden'}">

                                    <v-progress-linear indeterminate :active="loading" height="10" color="deep-orange"></v-progress-linear>
                                </div>
                            </template>

                            <template>
                                <v-card v-for="(item,i) in items">

                                    <v-card-title v-if="i<1">
                                        <h2 class="my-3" id="in">Top 91 to be returned</h2>
                                    </v-card-title>

                                    <v-card-title v-if="i>0">
                                        <h2 class="my-3" id="backup">Backups</h2>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container v-if="i<1" fluid>
                                            <v-row>
                                                <v-col>
                                                    <div>Sort by:</div>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="12" md="6" lg="5" xl="4" class="ml-3">
                                                    <v-radio-group row v-model="sortBy">
                                                        <v-radio label="Rank" value="rank" @click="activateDesc"></v-radio>
                                                        <v-radio label="Year" value="year"></v-radio>
                                                        <v-radio label="Author" value="lastName"></v-radio>
                                                        <v-radio label="scopus" value="scopus" @click="activateDesc"></v-radio>
                                                    </v-radio-group>
                                                </v-col>
                                                <v-col cols="6" sm="6" lg="2">
                                                    <v-switch v-model="sortDesc" color="orange darken-3" label="Decending" value="true"></v-switch>
                                                </v-col>
                                                <v-col cols="6" sm="6" lg="3">
                                                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search Rank" single-line>
                                                    </v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>



                                    <v-data-table dense show-expand hide-default-footer items-per-page="100" class="elevation-0" :loading="loading" :headers="headers" :items="item" :search="search" :item-class="itemRowBackground" :sort-by="sortBy" :sort-desc="sortDesc" multi-sort>

                                        <!-- Expand icon/column -->
                                        <template v-slot:item.data-table-expand="{item, isExpanded, expand}">
                                            {{ item.index }}.
                                            <v-icon small @click="expand(true),dimensions(item.doi)" v-if="!isExpanded" color="primary">mdi-arrow-right</v-icon>
                                            <v-icon small @click="expand(false)" v-if="isExpanded" color="primary">mdi-arrow-bottom-right</v-icon>
                                        </template>

                                        <!-- Primary Author Column -->
                                        <template v-slot:item.author="props">
                                            <a :href="'cs-uoa-outputs-author.html?author=' + props.item.authorName" target="_blank"><span v-for="first in props.item.firstName">{{ first }}</span> <span v-for="last in props.item.lastName">{{ last }}</span></a>
                                        </template>

                                        <!-- Rank Column -->
                                        <template v-slot:item.rank="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-edit-dialog :return-value.sync="props.item.rank" large @save="saveItem(props.item,'rank'),save('Rank saved')" @cancel="cancel('Not saved')" @open="open('Rank output')">
                                                        <div v-bind="attrs" v-on="on" class="text-truncate text-decoration-underline blue--text text--darken-2">
                                                            {{props.item.rank}}
                                                        </div>
                                                        <template v-slot:input>
                                                            <v-text-field v-model.lazy="props.item.rank" label="Edit" hint="Ent number 1 or above. 1 is highest" flat single-line autofocus>
                                                            </v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>
                                                <span class="text-center">Select to enter rank -<br>rank order outputs<br>starting from 1 (highest)</span>
                                            </v-tooltip>
                                        </template>

                                        <!-- Self Score Column -->
                                        <template v-slot:item.selfscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item['Int rate'] && props.item.ref" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item['Int rate'] == props.item.reviewerScore" label small outlined class="ma-2" color="green" text-color="green">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '4*'" label small outlined class="ma-2" color="red" text-color="red">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* +'" label small outlined class="ma-2" color="orange darken-4" text-color="orange darken-4">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3*'" label small outlined class="ma-2" color="orange darken-1" text-color="orange darken-1">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'] == '3* -'" label small outlined class="ma-2" color="orange lighten-2" text-color="orange lighten-2">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item['Int rate'].includes('2') || props.item['Int rate'].includes('1') || props.item['Int rate'].includes('NA')" label small outlined class="ma-2" color="grey" text-color="grey">
                                                            {{ props.item['Int rate'] }}
                                                        </v-chip>
                                                    </span>
                                                </template>
                                                <span v-if="props.item['Int rate'] == props.item.reviewerScore" class="text-center">Self scored.<br>Green means a match with reviewer score.</span>
                                                <span v-else class="text-center">Self scored.</span>
                                            </v-tooltip>
                                        </template>

                                        <!-- Reviewer Score Column -->
                                        <template v-slot:item.reviewerscore="props">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-if="props.item.reviewerScore" v-bind="attrs" v-on="on" class="text-truncate">
                                                        <v-chip v-if="props.item.reviewerScore == props.item['Int rate']" label small class="ma-2" color="green" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '4*'" label small class="ma-2" color="red" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* +'" label small class="ma-2" color="orange darken-4" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3*'" label small class="ma-2" color="orange darken-1" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore == '3* -'" label small class="ma-2" color="orange lighten-2" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                        <v-chip v-else-if="props.item.reviewerScore.includes('2') || props.item.reviewerScore.includes('1') || props.item.reviewerScore.includes('NA')" label small class="ma-2" color="grey" text-color="white">
                                                            {{ props.item.reviewerScore }}
                                                        </v-chip>
                                                    </span>
                                                </template>
                                                <span v-if="props.item.reviewerScore == props.item['Int rate']" class="text-center">Scored by external reviewer.<br>Green means a match with self score.</span>
                                                <span v-else class="text-center">Scored by external reviewer.</span>
                                            </v-tooltip>
                                        </template>

                                        <!-- Ouput Column -->
                                        <template v-slot:item.output="props">
                                            <p>
                                                <span v-if="props.item.doi"><a class="font-weight-medium" :href="'http://dx.doi.org/' + props.item.doi" target="_new">{{props.item.title}}</a> ({{props.item.year}}) <em>{{props.item.source}}</em> <a :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a></span>
                                                <span v-else>{{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em></span>
                                            </p>
                                        </template>

                                        <!-- Citations column -->
                                        <template v-slot:item.crossref="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <a v-if="props.item.ref" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                        </span>
                                                    </template>
                                                    <span>From CrossRef api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.scopus">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>

                                                        </span>
                                                    </template>
                                                    <span>From Elsiver/Scopus api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.dimensions">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.dimensions}}</a></span>

                                                        </span>
                                                    </template>
                                                    <span>From Dimensions api.<br>
                                                        Click for Google Scholar result.
                                                        <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                    </span>
                                                </v-tooltip>
                                            </span>
                                        </template>

                                        <!-- Source Column -->
                                        <template v-slot:item.sourcescore="props">
                                            <span>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on" class="text-truncate">{{ props.item.citeScore }}</span>
                                                    </template>
                                                    <p class="text-center">CiteScore: using Elsiver's journal metric</p>
                                                </v-tooltip>
                                            </span>
                                            <span v-if="props.item.sjr">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <span v-bind="attrs" v-on="on">
                                                            <span v-bind="attrs" v-on="on" class="text-truncate"> / {{props.item.sjr}}</span>
                                                        </span>
                                                    </template>
                                                    <p class="mt-2 font-italic" target="_blank">SJR: SCImago journal rank</p>
                                                </v-tooltip>
                                            </span>
                                        </template>

                                        <!-- Pencil icon / Edit Column -->
                                        <template v-slot:item.actions="props">
                                            <div class="text-center text-truncate">
                                                <v-icon small class="mr-2" @click="showEditDialog(props.item),open('Edit output')" color="primary">mdi-pencil</v-icon>
                                            </div>
                                        </template>

                                        <!-- Expanded row -->
                                        <template v-slot:expanded-item="{ headers, item }">
                                            <td :colspan="headers.length" :id="item.lastName + item.doi" class="py-4">

                                                <v-card class="mx-auto my-5" max-width="600">
                                                    <v-card-text>

                                                        <v-row>
                                                            <v-col cols="12" justify="center">
                                                                <p>
                                                                    <span class="mt-2 font-weight-black text-uppercase">Output Information:</span><br>
                                                                    <strong>Author(s):</strong> {{ item.authors }}<br>
                                                                    <strong>Year:</strong> {{ item.year }}<br>
                                                                    <strong>Title:</strong> {{ item.title }}<br>
                                                                    <strong v-if="item.source">Conference/Journal:</strong> {{ item.source }}
                                                                </p>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="12" justify="center">
                                                                <p>
                                                                    <span class="mt-2 font-weight-black text-uppercase">Output metadata:</span><br>

                                                                    <span v-if="item.crossRef"><strong>CrossRef Citations</strong> (<span v-if="item.doi"><a :href="'https://search.crossref.org/?from_ui=&q=' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.crossref.org/education/retrieve-metadata/rest-api/" target="_blank">here</a></span>): <strong>{{ item.crossRef }}</strong><br></span>

                                                                    <span v-if="item.scopus"><strong>Scopus Citations</strong> (<span v-if="item.doi"><a :href="'https://www.scopus.com/results/results.uri?numberOfFields=0&src=s&clickedLink=&edit=&editSaveSearch=&origin=searchbasic&authorTab=&affiliationTab=&advancedTab=&scint=1&menu=search&tablin=&searchterm1=' + item.doi + '&field1=DOI&dateType=Publication_Date_Type&yearFrom=Before+1960&yearTo=Present&loadDate=7&documenttype=All&resetFormLink=&st1=10.1145%2F3364181&st2=&sot=b&sdt=b&sl=20&s=DOI%2810.1145%2F3364181%29&sid=1fd35d44ced67f3f279cb0ba062cac7e&searchId=1fd35d44ced67f3f279cb0ba062cac7e&txGid=74f0c916c996f73a1ee9b1e9174bb1eb&sort=plf-f&originationType=b&rr='" target="_blank">more info</a></span><span v-else>see <a href="https://dev.elsevier.com" target="_blank">here</a></span>): <strong>{{ item.scopus }}</strong><br></span>
                                                                </p>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="4">
                                                                <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.google" label="Google Scholar" hint="Update Google Scholar citations" @change="saveItem(item, 'google'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                                                            </v-col>
                                                            <v-col cols="4">
                                                                <div class="mt-1 px-3 caption">
                                                                    <a v-if="item.doi" :href="'https://scholar.google.com/scholar?q=' + item.doi" target="_blank">Search Google Scholar</a>
                                                                    <a v-else :href="'https://scholar.google.com/scholar?q=' + item.title" target="_blank">Search Google Scholar</a>
                                                                </div>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="4">
                                                                <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.msAcademic" label="Microsoft Academic" hint="Update Microsoft Academic citations" @change="saveItem(item, 'msacademic'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                                                            </v-col>
                                                            <v-col cols="4">
                                                                <div class="mt-2 px-3 caption"><a :href="'https://academic.microsoft.com/search?q=' + item.title + '%20Results&f=&orderBy=0&skip=0&take=10'" target="_blank">Search MS Academic</a></div>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="4">
                                                                <template>
                                                                    <div class="mt-1 px-1">
                                                                        <v-text-field v-model="item.wos" label="Web of Science" hint="Update Web of Science" @change="saveItem(item, 'wos'), save('Saved')" outlined dense></v-text-field>
                                                                    </div>
                                                                </template>
                                                            </v-col>
                                                            <v-col cols="4">
                                                                <div class="mt-2 px-3 caption"><a href="http://0-apps.webofknowledge.com.wam.city.ac.uk/" target="_blank">Search Web of Science</a> (requires City login)</div>
                                                            </v-col>
                                                        </v-row>


                                                        <v-row>
                                                            <v-col cols="12" sm="6">
                                                                <v-select v-model="item.allocation" :items="classification" label="select ACM classification" @change="saveItem(item, 'allocation'), save('Saved')" outlined dense></v-select>
                                                            </v-col>
                                                            <v-col cols="4">
                                                                <div class="mt-2 px-3 caption"><a href="https://dl.acm.org/ccs" target="_blank">ACM classification scheme</a></div>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row>
                                                            <v-col cols="12">
                                                                <p v-if="item.dimensions"><strong>Dimensions metadata:</strong><br></p>
                                                                <p :id="'dimensions_badge_' + item.doi"></p>
                                                            </v-col>
                                                        </v-row>

                                                        <p>
                                                            <span class="font-weight-black text-uppercase">Publication meta data:</span><br>
                                                            <span v-if="item.CORE"><strong>CORE:</strong> {{item.CORE}}<br></span>
                                                            <span v-if="item.impactFactor"><strong>Impact Factor:</strong> {{item.impactFactor}}<br></span>
                                                            <span v-if="item.hindex"><strong><a href="http://www.scimagojr.com/" target="_blank">h-index</a>:</strong> {{item.hindex}}<br></span>
                                                            <span v-if="item.h5index"><strong><a href="https://scholar.google.co.uk/citations?view_op=top_venues&hl=en&vq=eng_humancomputerinteraction" target="_blank">h5-index</a>:</strong> {{item.h5index}}<br></span>
                                                        </p>

                                                        <p v-if="item.citeScore">
                                                            <strong>Journal CiteScore</strong> (<a href="https://www.elsevier.com/editors-update/story/journal-metrics/citescore-a-new-metric-to-help-you-choose-the-right-journal" target="_blank" rel="noopener noreferrer">Elsiver</a>):
                                                            <strong>{{ item.citeScore }}</strong>
                                                            <span v-if="item.sjr"><br><strong>Journal rank</strong> (<a :href="'https://www.scimagojr.com/journalsearch.php?q=' + item.source" target="_blank" rel="noopener noreferrer">SJR</a>): <strong>{{ item.sjr }}</strong></span>
                                                        </p>

                                                        <span class="font-weight-black text-uppercase">REF Info:</span><br>
                                                        <p v-if="item.hundredWords" class="mb-5">
                                                            <strong>100 Words:</strong> <span v-html="item.hundredWords"></span>
                                                        </p>

                                                        <p v-if="item.textReview">
                                                            <strong>Review:</strong> <span v-html="item.textReview"></span>
                                                        </p>

                                                        <p v-if="item.reviewerConfidence">
                                                            <strong>Reviewer confidence:</strong>
                                                            <v-chip v-if="item.reviewerConfidence == 'High'" label small class="ma-2" color="green" text-color="white">
                                                                {{ item.reviewerConfidence }}
                                                            </v-chip>
                                                            <v-chip v-if="item.reviewerConfidence == 'Medium'" label small class="ma-2" color="orange" text-color="white">
                                                                {{ item.reviewerConfidence }}
                                                            </v-chip>
                                                            <v-chip v-if="item.reviewerConfidence == 'Low'" label small class="ma-2" color="red" text-color="white">
                                                                {{ item.reviewerConfidence }}
                                                            </v-chip>
                                                        </p>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-btn text color="blue" small>
                                                            <span v-if="item.attachment"><a :href="item.attachment[0].url" target="_new">Download PDF</a></span>
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>

                                                <v-form>
                                                    <v-container>

                                                        <v-row justify="center">
                                                            <v-col cols="9">
                                                                <v-textarea v-model="item.decision" label="Reason for decision" hint="Reason for decision" auto-grow outlined></v-textarea>
                                                            </v-col>
                                                        </v-row>

                                                        <v-row justify="center">
                                                            <v-col cols="12">
                                                                <h3>Comments</h3>
                                                                <p>If you think the paper should be checked against our ranking criteria, check the checkbox and leave a comment.</p>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.alex_steph_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.alex_steph" label="Alex/Steph" hint="Comments from Alex or Steph" auto-grow outlined @change="save(saveItem(item, 'saveCommentForm'), 'Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.ed_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.ed" label="Ed" hint="Comments from Ed" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.george_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.george" label="George" hint="Comments from George" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.ilir_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.ilir" label="Ilir" hint="Comments from Ilir" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.jason_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.jason" label="Jason" hint="Comments from Jason" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-checkbox v-model="item.lorenzo_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                            </v-col>
                                                            <v-col cols="11">
                                                                <v-textarea v-model="item.lorenzo" label="Lorenzo" hint="Comments from Lorenzo" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                            </v-col>
                                                            <v-col cols="12" justify="end">
                                                                <v-btn class="float-right mr-5" color="primary" @click="saveItem(item, 'saveCommentForm'), save('Comments updated')">Save Comments</v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-form>

                                            </td>
                                        </template>

                                    </v-data-table>

                                </v-card>


                        </v-col>
                    </v-row>

                    <!-- Update entry dialog -->
                    <v-dialog v-model="dialog" max-width="640px">
                        <v-card>
                            <v-card-title>
                                <span v-if="editedItem.id" class="left text-truncate">Edit output</span>
                                <span v-else class="left text-truncate">New REF Output</span>
                                <v-spacer></v-spacer>
                                <v-icon small class="text-right" @click="closeDialog(),close('Not saved')" color="primary">mdi-close</v-icon>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12">
                                        <v-text-field v-model="editedItem.authors" label="Authors"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.title" label="Title"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.source" label="Conference or Journal"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.doi" label="DOI (just the number not the http link)"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-select v-model="editedItem.type" :items="typeSelect" label="Type"></v-select>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-text-field v-model="editedItem.year" label="Year"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3">
                                        <v-text-field v-model="editedItem.rank" label="Rank"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3" class="pl-5">
                                        <v-checkbox v-model="editedItem.ref" label="Submit to REF?"></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.hundredWords" label="100 word summary"></v-textarea>
                                    </v-col>
                                    <v-col>
                                        <div>
                                            <p class="text-right">To upload any changes to the database, press "Save".</p>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue" text @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)">Close</v-btn>
                                <v-btn color="blue" text @click="saveItem(editedItem,'saveFormItem'),save('Changes saved')">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Snack bar save messages -->
                    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                        <div class="text-center">{{ snackText }}</div>
                    </v-snackbar>

                </v-container>
            </v-main>

        </v-app>
    </div>
</body>

</html>