<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/roboto-fontface@0.10.0/css/roboto/roboto-fontface.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.3.45/css/materialdesignicons.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.css">
    <link type="text/css" rel="stylesheet" href="./css/styles.css">
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
    <title>Outputs by rank - REF B11 CS City</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-navigation-drawer dark permanent expand-on-hover app>
                <v-list color="white--text" nav dense>

                    <v-list-item link href="#zeroes" @click="panels(0)">
                        <v-list-item-content>
                            <v-list-item-title>0s</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title class="title">Zeroes</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="#ones" @click="panels(1)">
                        <v-list-item-content>
                            <v-list-item-title>1s</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title class="title">Ones</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="#twos" @click="panels(2)">
                        <v-list-item-content>
                            <v-list-item-title>2s</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title class="title">Twos</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="#threes" @click="panels(3)">
                        <v-list-item-content>
                            <v-list-item-title>3s</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title class="title">Threes</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="#others" @click="panels(4)">
                        <v-list-item-content>
                            <v-list-item-title>4s</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title class="title">Fours and others</v-list-item-title>
                    </v-list-item>

                    <v-divider></v-divider>

                    <v-list-item link href="#zeroes" @click="panels('')">
                        <v-list-item-content>
                            <v-list-item-title>-</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-title>collapse all</v-list-item-title>
                    </v-list-item>

                </v-list>
            </v-navigation-drawer>

            <v-main>
                <v-container>

                    <v-row justify="center">
                        <v-col cols="12">
                            <div class="mb-5">
                                <h1 class="mt-5 font-weight-bold">UoA B11 REF 2021 Outputs</h1>
                            </div>
                        </v-col>
                        <v-col cols="12">

                            <div class="py-5">
                                <p>See list of CS outputs ranked 1 to 4 (and other) below.</p>
                                <p class="ml-5">For each heading you can:</p>
                                <ol class="ml-5">
                                    <li>Expand the list (click
                                        <v-icon color="grey">mdi-chevron-down</v-icon> to right of heading)</li>
                                </ol>
                                <p class="mt-5 ml-5">For each output you can:</p>
                                <ol class="ml-5">
                                    <li>View details, including 100 words, reviews and citation info. (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> to left of output)</li>
                                    <li>Move an output to the shortlist (click
                                        <v-icon small color="primary">mdi-arrow-right</v-icon> in rightmost column, check "Submit to REF?")</li>
                                    <li>Change the rank of an output (click on the rank in the 2nd column)</li>
                                    <li>View individual author's outputs (click on author's name)</li>
                                </ol>

                            </div>

                            <div class="my-5 text-center">
                                <a href="#zeroes" @click="panels(0)">zeros</a> | <a href="#ones" @click="panels(1)">ones</a> | <a href="#twos" @click="panels(2)">twos</a> | <a href="#threes" @click="panels(3)">threes</a> | <a href="#others" @click="panels(4)">4s/others</a>
                            </div>

                        </v-col>
                    </v-row>

                    <v-row justify="center">
                        <v-col cols="12">

                            <template>

                                <v-expansion-panels v-model="panel" popout multiple>

                                    <v-expansion-panel v-for="(item,i) in items">
                                        <v-expansion-panel-header>
                                            <h2 class="mt-5 mb-3 ml-2" id="zeroes">Outputs Ranked {{i}}</h2>
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-card>
                                                <v-data-table dense show-expand hide-default-footer mobile-breakpoint="800" items-per-page="100" class="elevation-0" :loading="loading" :headers="headers" :items="item" :item-class="itemRowBackground">

                                                    <!-- Expand icon/column -->
                                                    <template v-slot:item.data-table-expand="{item, isExpanded, expand}">
                                                        {{ item.index }}.
                                                        <v-icon small @click="expand(true)" v-if="!isExpanded" color="primary">mdi-arrow-right</v-icon>
                                                        <v-icon small @click="expand(false)" v-if="isExpanded" color="primary">mdi-arrow-bottom-right</v-icon>
                                                    </template>

                            <!-- Primary Author Column -->
                            <template v-slot:item.author="props">
                                                        <a :href="'cs-uoa-outputs-author.html?author=' + props.item.authorName" target="_blank"><span v-for="first in props.item.firstName">{{ first }}</span> <span v-for="last in props.item.lastName">{{ last }}</span></a>
                                                    </template>

                            <!-- Rank Column -->
                            <template v-slot:item.rank="props">
                                                        <v-tooltip bottom>
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <v-edit-dialog :return-value.sync="props.item.rank" large @save="saveItem(props.item,'rank'),save('Rank saved')" @cancel="cancel('Not saved')" @open="open('Rank output')">
                                                                    <div v-bind="attrs" v-on="on" class="text-truncate text-decoration-underline blue--text text--darken-2">
                                                                        {{props.item.rank}}
                                                                        <!-- {{ (Math.round(props.item.rank * 100) / 100).toFixed(1) }} -->
                                                                    </div>
                                                                    <template v-slot:input>
                                                                        <v-text-field v-model.lazy="props.item.rank" label="Edit" hint="Ent number 1 or above. 1 is highest" flat single-line autofocus>
                                                                        </v-text-field>
                                                                    </template>
                            </v-edit-dialog>
                            </template>
                            <span class="text-center">Select to enter rank -<br>rank order outputs<br>starting from 1 (highest)</span>
                            </v-tooltip>
                            </template>

                            <!-- Self Score Column -->
                            <template v-slot:item.selfscore="props">
                                                        <v-tooltip bottom>
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <span v-if="props.item['Int rate'] && props.item.ref" v-bind="attrs" v-on="on" class="text-truncate">
                                                                    <v-chip v-if="props.item['Int rate'] == props.item.reviewerScore" label small outlined class="ma-2" color="green" text-color="green">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item['Int rate'] == '4*'" label small outlined class="ma-2" color="red" text-color="red">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item['Int rate'] == '3* +'" label small outlined class="ma-2" color="orange darken-4" text-color="orange darken-4">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item['Int rate'] == '3*'" label small outlined class="ma-2" color="orange darken-1" text-color="orange darken-1">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item['Int rate'] == '3* -'" label small outlined class="ma-2" color="orange lighten-2" text-color="orange lighten-2">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item['Int rate'].includes('2') || props.item['Int rate'].includes('1') || props.item['Int rate'].includes('NA')" label small outlined class="ma-2" color="grey" text-color="grey">
                                                                        {{ props.item['Int rate'] }}
                                                                    </v-chip>

                                                                </span>
                                                            </template>
                            <span v-if="props.item['Int rate'] == props.item.reviewerScore" class="text-center">Self scored.<br>Green means a match with reviewer score.</span>
                            <span v-else class="text-center">Self scored.</span>
                            </v-tooltip>
                            </template>

                            <!-- Reviewer Score Column -->
                            <template v-slot:item.reviewerscore="props">
                                                        <v-tooltip bottom>
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <span v-if="props.item.reviewerScore" v-bind="attrs" v-on="on" class="text-truncate">
                                                                    <v-chip v-if="props.item.reviewerScore == props.item['Int rate']" label small class="ma-2" color="green" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item.reviewerScore == '4*'" label small class="ma-2" color="red" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item.reviewerScore == '3* +'" label small class="ma-2" color="orange darken-4" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item.reviewerScore == '3*'" label small class="ma-2" color="orange darken-1" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item.reviewerScore == '3* -'" label small class="ma-2" color="orange lighten-2" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                    <v-chip v-else-if="props.item.reviewerScore.includes('2') || props.item.reviewerScore.includes('1') || props.item.reviewerScore.includes('NA')" label small class="ma-2" color="grey" text-color="white">
                                                                        {{ props.item.reviewerScore }}
                                                                    </v-chip>
                                                                </span>
                                                            </template>
                            <span v-if="props.item.reviewerScore == props.item['Int rate']" class="text-center">Scored by external reviewer.<br>Green means a match with self score.</span>
                            <span v-else class="text-center">Scored by external reviewer.</span>
                            </v-tooltip>
                            </template>

                            <!-- Ouput Column -->
                            <template v-slot:item.output="props">
                                                        <p>
                                                            <span v-if="props.item.doi"><a class="font-weight-medium" :href="'http://dx.doi.org/' + props.item.doi" target="_new">{{props.item.title}}</a> ({{props.item.year}}) <em>{{props.item.source}}</em> <a :href="'http://dx.doi.org/' + props.item.doi" target="_new">DOI</a></span>
                                                            <span v-else>{{props.item.title}} ({{props.item.year}}) <em>{{props.item.source}}</em></span>
                                                        </p>
                                                    </template>

                            <!-- Citations column -->
                            <template v-slot:item.crossref="props">
                                                        <span>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span v-bind="attrs" v-on="on">
                                                                        <a v-if="props.item.ref" :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.crossRef}}</a>
                                                                    </span>
                                                                </template>
                            <span>From CrossRef api.<br>
                                                                    Click for Google Scholar result.
                                                                    <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                                </span>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.scopus">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span v-bind="attrs" v-on="on">
                                                                        <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.scopus}}</a></span>

                            </span>
                            </template>
                            <span>From Elsiver/Scopus api.<br>
                                                                    Click for Google Scholar result.
                                                                    <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                                </span>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.dimensions">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span v-bind="attrs" v-on="on">
                                                                        <span> / <a :href="'https://scholar.google.com/scholar?q=' + props.item.doi" target="_blank">{{props.item.dimensions}}</a></span>

                            </span>
                            </template>
                            <span>From Dimensions api.<br>
                                                                    Click for Google Scholar result.
                                                                    <p class="mt-2 font-italic" target="_blank">Only retrieved with valid DOI.</p>
                                                                </span>
                            </v-tooltip>
                            </span>
                            </template>

                            <!-- Source Column -->
                            <template v-slot:item.sourcescore="props">
                                                        <span>
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span v-bind="attrs" v-on="on" class="text-truncate">{{ props.item.citeScore }}</span>
                                                                </template>
                            <p class="text-center">CiteScore: using Elsiver's journal metric</p>
                            </v-tooltip>
                            </span>
                            <span v-if="props.item.sjr">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span v-bind="attrs" v-on="on">
                                                                        <span v-bind="attrs" v-on="on" class="text-truncate"> / {{props.item.sjr}}</span>
                            </span>
                            </template>
                            <p class="mt-2 font-italic" target="_blank">SJR: SCImago journal rank</p>
                            </v-tooltip>
                            </span>
                            </template>

                            <!-- Pencil icon / Edit Column -->
                            <template v-slot:item.actions="props">
                                                        <div class="text-center text-truncate">
                                                            <v-icon small class="mr-2" @click="showEditDialog(props.item),open('Edit output')" color="primary">mdi-pencil</v-icon>
                                                        </div>
                                                    </template>

                            <!-- Expanded row -->
                            <template v-slot:expanded-item="{ headers, item }">
                                                        <td :colspan="headers.length" :id="item.lastName + item.doi" class="py-4">

                                                            <v-card class="mx-auto my-5" max-width="600">
                                                                <v-card-text>
                                                                    <p><strong>Author(s):</strong> {{ item.authors }}<br>
                                                                        <strong>Year:</strong> {{ item.year }}<br>
                                                                        <strong>Title:</strong> {{ item.title }}<br>
                                                                        <strong v-if="item.source">Conference/Journal:</strong> {{ item.source }}
                                                                    </p>
                                                                    
                                                                    <p v-if="item.doi">
                                                                        <span v-if="item.crossRef"><strong>CrossRef Citations</strong> (<span v-if="item.doi"><a :href="'https://search.crossref.org/?from_ui=&q=' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.crossref.org/education/retrieve-metadata/rest-api/" target="_blank">here</a></span>): <strong>{{ item.crossRef }}</strong><br></span>

                                                                        <span v-if="item.scopus"><strong>Scopus Citations</strong> (<span v-if="item.doi"><a :href="'https://www.scopus.com/results/results.uri?numberOfFields=0&src=s&clickedLink=&edit=&editSaveSearch=&origin=searchbasic&authorTab=&affiliationTab=&advancedTab=&scint=1&menu=search&tablin=&searchterm1=' + item.doi + '&field1=DOI&dateType=Publication_Date_Type&yearFrom=Before+1960&yearTo=Present&loadDate=7&documenttype=All&resetFormLink=&st1=10.1145%2F3364181&st2=&sot=b&sdt=b&sl=20&s=DOI%2810.1145%2F3364181%29&sid=1fd35d44ced67f3f279cb0ba062cac7e&searchId=1fd35d44ced67f3f279cb0ba062cac7e&txGid=74f0c916c996f73a1ee9b1e9174bb1eb&sort=plf-f&originationType=b&rr='" target="_blank">more info</a></span><span v-else>see <a href="https://dev.elsevier.com" target="_blank">here</a></span>): <strong>{{ item.scopus }}</strong><br></span>
                                                                        
                                                                        <span v-if="item.dimensions"><strong>Dimensions Citations</strong> (<span v-if="item.doi"><a :href="'https://badge.dimensions.ai/details/doi/' + item.doi" target="_blank">more info</a></span><span v-else>see <a href="https://www.dimensions.ai/dimensions-apis/" target="_blank">here</a></span>): <strong>{{ item.dimensions }}</strong><br></span>

                                                                        See google scholar <a :href="'https://scholar.google.com/scholar?q=' + item.doi" target="_blank">here</a>.

                                                                        If you're logged in via City library check <a href="http://0-apps.webofknowledge.com.wam.city.ac.uk/" target="_blank">Web of Science</a>.

                                                                        <p><span class="__dimensions_badge_embed__" :data-doi="item.doi" data-legend="always"></span></p>
                                                                    </p>

                                                                    <p v-if="item.relativeCitationRatio || item.fieldCitationRatio">
                                                                        <span v-if="item.relativeCitationRatio"><a href="https://plus.dimensions.ai/support/solutions/articles/23000018841-what-is-the-rcr-how-is-the-rcr-score-calculated-" target="_blank">Relative Citation Ratio</a>: {{ item.relativeCitationRatio }}<br></span>
                                                                        <span v-if="item.fieldCitationRatio"><a href="https://plus.dimensions.ai/support/solutions/articles/23000018848-what-is-the-fcr-how-is-it-calculated-" target="_blank">Field Citation Ratio</a>: {{ item.fieldCitationRatio }}</span>
                                                                    </p>
                                                                    
                                                                    <p v-if="item.citeScore">
                                                                        <strong>Journal CiteScore</strong> (<a href="https://www.elsevier.com/editors-update/story/journal-metrics/citescore-a-new-metric-to-help-you-choose-the-right-journal" target="_blank" rel="noopener noreferrer">Elsiver</a>): <strong>{{ item.citeScore }}</strong>
                                                                        <span v-if="item.sjr"><br><strong>Journal rank</strong> (<a href="https://www.scimagojr.com/aboutus.php" target="_blank" rel="noopener noreferrer">SJR</a>): <strong>{{ item.sjr }}</strong></span>
                                                                    </p>
                                                                    <p v-if="item.hundredWords" class="mb-5">
                                                                        <strong>100 Words:</strong> <span v-html="item.hundredWords"></span>
                                                                    </p>
                                                                    <p v-if="item.textReview">
                                                                        <strong>Review:</strong> <span v-html="item.textReview"></span>
                                                                    </p>

                                                                    <p v-if="item.reviewerConfidence">
                                                                        <strong>Reviewer confidence:</strong>
                                                                        <v-chip v-if="item.reviewerConfidence == 'High'" label small class="ma-2" color="green" text-color="white">
                                                                            {{ item.reviewerConfidence }}
                                                                        </v-chip>
                                                                        <v-chip v-if="item.reviewerConfidence == 'Medium'" label small class="ma-2" color="orange" text-color="white">
                                                                            {{ item.reviewerConfidence }}
                                                                        </v-chip>
                                                                        <v-chip v-if="item.reviewerConfidence == 'Low'" label small class="ma-2" color="red" text-color="white">
                                                                            {{ item.reviewerConfidence }}
                                                                        </v-chip>
                                                                    </p>
                                                                </v-card-text>
                                                                <v-card-actions>
                                                                    <v-btn text color="blue" small>
                                                                        <span v-if="item.attachment"><a :href="item.attachment[0].url" target="_new">Download PDF</a></span>
                                                                    </v-btn>
                                                                </v-card-actions>
                                                            </v-card>

                                                            <v-form>
                                                                <v-container>

                                                                    <v-row justify="center">
                                                                        <v-col cols="12">
                                                                            <h3>Comments</h3>
                                                                            <p>If you think the paper should be checked against our ranking criteria, check the checkbox and leave a comment.</p>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.alex_steph_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.alex_steph" label="Alex/Steph" hint="Comments from Alex or Steph" auto-grow outlined @change="save(saveItem(item, 'saveCommentForm'), 'Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.ed_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.ed" label="Ed" hint="Comments from Ed" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.george_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.george" label="George" hint="Comments from George" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.ilir_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.ilir" label="Ilir" hint="Comments from Ilir" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.jason_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.jason" label="Jason" hint="Comments from Jason" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="1">
                                                                            <v-checkbox  v-model="item.lorenzo_check" @change="saveItem(item,'checkOutput')"></v-checkbox>
                                                                        </v-col>
                                                                        <v-col cols="11">
                                                                            <v-textarea v-model="item.lorenzo" label="Lorenzo" hint="Comments from Lorenzo" auto-grow outlined @change="saveItem(item, 'saveCommentForm'), save('Auto save')"></v-textarea>
                                                                        </v-col>
                                                                        <v-col cols="12" justify="end">
                                                                            <v-btn class="float-right mr-5" color="primary" @click="saveItem(item, 'saveCommentForm'), save('Comments updated')">Save Comments</v-btn>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-container>
                                                            </v-form>

                                                        </td>
                                                    </template>

                            </v-data-table>

                            </v-card>
                            </v-expansion-panel-content>
                            </v-expansion-panel>

                            </v-expansion-panels>

                            </template>

                            <div class="my-5 text-center">
                                <a href="#zeroes" @click="panels(0)">zeros</a> | <a href="#ones" @click="panels(1)">ones</a> | <a href="#twos" @click="panels(2)">twos</a> | <a href="#threes" @click="panels(3)">threes</a> | <a href="#others" @click="panels(4)">4s/others</a>
                            </div>

                        </v-col>
                    </v-row>

                    <!-- Update entry dialog -->
                    <v-dialog v-model="dialog" max-width="640px">
                        <v-card>
                            <v-card-title>
                                <span v-if="editedItem.id" class="left text-truncate">Edit output</span>
                                <span v-else class="left text-truncate">New REF Output</span>
                                <v-spacer></v-spacer>
                                <v-icon small class="text-right" @click="closeDialog(),close('Not saved')" color="primary">mdi-close</v-icon>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12">
                                        <v-text-field v-model="editedItem.authors" label="Authors"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.title" label="Title"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.source" label="Conference or Journal"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.doi" label="DOI (just the number not the http link)"></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-select v-model="editedItem.type" :items="typeSelect" label="Type"></v-select>
                                    </v-col>
                                    <v-col cols="12" sm="3">
                                        <v-text-field v-model="editedItem.year" label="Year"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3">
                                        <v-text-field v-model="editedItem.rank" label="Rank"></v-text-field>
                                    </v-col>
                                    <v-col cols="6" sm="3" class="pl-5">
                                        <v-checkbox v-model="editedItem.ref" label="Submit to REF?"></v-checkbox>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <v-textarea rows="1" auto-grow v-model="editedItem.hundredWords" label="100 word summary"></v-textarea>
                                    </v-col>
                                    <v-col>
                                        <div>
                                            <p class="text-right">To upload any changes to the database, press "Save".</p>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue" text @click="closeDialog(),close('Not saved'),getOutputMetaData(editedItem)">Close</v-btn>
                                <v-btn color="blue" text @click="saveItem(editedItem,'saveFormItem'),save('Changes saved')">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Snack bar save messages -->
                    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                        <div class="text-center">{{ snackText }}</div>
                    </v-snackbar>

                </v-container>
            </v-main>
        </v-app>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@2.3.6/dist/vuetify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script>
        const apiToken = "keyAKLpRf8ec2XWH9",
            airTableApp = "appunQ0V4X7SQIIk7",
            airTableName = "tblDN6QUoVueC6fkg",
            airTableView = "viwkwqfMShmHL2ySw",
            config = {
                headers: {
                    Authorization: "Bearer " + apiToken,
                    Accept: "application/json",
                },
            };

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    headers: [{
                        text: '',
                        value: 'data-table-expand'
                    }, {
                        text: 'Primary Author',
                        value: 'author',
                        width: '12%',
                        sortable: false
                    }, {
                        text: 'Rank',
                        value: 'rank',
                        align: 'center',
                        width: '10%',
                        sortable: false
                    }, {
                        text: 'Self',
                        value: 'selfscore',
                        align: 'center',
                        width: '8%',
                        sortable: false
                    }, {
                        text: 'External',
                        value: 'reviewerscore',
                        align: 'center',
                        width: '8%',
                        sortable: false
                    }, {
                        text: 'Output',
                        value: 'output',
                        width: '25%',
                        sortable: false
                    }, {
                        text: "Citations",
                        value: "crossref",
                        align: 'center',
                        width: '10%',
                        sortable: false
                    }, {
                        text: "Source",
                        value: "sourcescore",
                        align: 'center',
                        width: '10%',
                        sortable: false
                    }, {
                        text: 'Edit',
                        value: 'actions',
                        align: 'center',
                        width: '10%',
                        sortable: false
                    }],
                    panel: [],
                    loading: true,
                    expanded_0: [],
                    singleExpand_0: true,
                    expanded_1: [],
                    singleExpand_1: true,
                    expanded_2: [],
                    singleExpand_2: true,
                    expanded_3: [],
                    singleExpand_3: true,
                    expanded_4: [],
                    singleExpand_4: true,
                    snack: false,
                    snackColor: '',
                    snackText: '',
                    sortBy: 'reviewerScore',
                    value: '',
                    rules: {
                        counter: value => {
                            const count = value.match(/\w+/g).length.toString()
                            return value.match(/\w+/g).length >= 100 || count + "/100"
                        },
                        max: value => value.match(/\w+/g).length <= 100 || "Max 100 words"
                    },
                    items: [],
                    table_0: [],
                    table_0: [],
                    table_2: [],
                    table_3: [],
                    table_4: [],
                    tables: 5,
                    cites: "",
                    typeSelect: ['Journal', 'Conference', 'Book', 'Part of book', 'Patent', 'Code'],
                    dialog: false, // used to toggle the dialog
                    editedItem: {}, // empty holder for edit output dialog
                    index: 0,
                    reviewers: [],
                    overallReview: "",
                    suitabilityReview: "",
                    strongweakReview: "",
                    hotosReview: "",
                    hunderwordsReview: "",
                    form_alex_steph: '',
                    form_ed: '',
                    form_ilir: '',
                    form_jason: '',
                    form_george: '',
                    form_lorenzo: ''
                }
            },
            mounted() {
                this.loadItems()
            },
            methods: {
                itemRowBackground(item) {
                    return item.alex_steph_check == true || item.ed_check == true || item.george_check == true || item.ilir_check == true || item.jason_check == true || item.lorenzo_check == true ? 'style-orange' : 'style-reg'
                },
                panels(item) {
                    if (this.panel.includes(item)) {
                        this.panel = [];
                    } else {
                        this.panel = [item];
                    }
                },
                showEditDialog(item) {
                    this.editedItem = item || {};
                    this.dialog = !this.dialog; /***** could delete? ****/
                },
                closeDialog() {
                    this.dialog = false;
                    this.close('Not saved');
                    //localStorage.clear(); /***** here debug so cite counts can be retrieved ****/
                    //this.sortBy = 'rank'
                },
                loadItems() {
                    const fields = "fields%5B%5D=authorID&fields%5B%5D=authorName&fields%5B%5D=title&fields%5B%5D=firstName&fields%5B%5D=lastName&fields%5B%5D=year&fields%5B%5D=source&fields%5B%5D=authors&fields%5B%5D=type&fields%5B%5D=ref&fields%5B%5D=doi&fields%5B%5D=hundredWords&fields%5B%5D=specialism&fields%5B%5D=rank&fields%5B%5D=crossRef&fields%5B%5D=scopus&fields%5B%5D=refScore&fields%5B%5D=issn&fields%5B%5D=isbn&fields%5B%5D=citeScore&fields%5B%5D=sourceID&fields%5B%5D=sjr&fields%5B%5D=review&fields%5B%5D=reviewerScore&fields%5B%5D=Int%20rate&fields%5B%5D=textReview&fields%5B%5D=reviewerConfidence&fields%5B%5D=attachment&fields%5B%5D=reviewer",
                        sort = "sort%5B1%5D%5Bfield%5D=rank&sort%5B1%5D%5Bdirection%5D=asc&sort%5B2%5D%5Bfield%5D=lastName&sort%5B2%5D%5Bdirection%5D=asc",
                        zerosURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${sort}&filterByFormula=FIND(%220%22%2CrankRounded)`,
                        onesURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${sort}&filterByFormula=FIND(%221%22%2CrankRounded)`,
                        twosURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${sort}&filterByFormula=FIND(%222%22%2CrankRounded)`,
                        threesURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${sort}&filterByFormula=FIND(%223%22%2CrankRounded)`,
                        otherssURL = `https://api.airtable.com/v0/${airTableApp}/${airTableName}?&view=${airTableView}&${sort}&filterByFormula=OR(IF(rank%3E%3D4%2CTRUE()%2CFALSE())%2CIF(rank%3DBLANK()%2CTRUE()%2CFALSE()))`;
                    axios.all([
                        axios.get(zerosURL, config),
                        axios.get(onesURL, config),
                        axios.get(twosURL, config),
                        axios.get(threesURL, config),
                        axios.get(otherssURL, config)
                    ]).then((response) => {



                        for (let i = 0; i < response.length; i++) {
                            this.items[i] = response[i].data.records.map((item) => {
                                this.index += 1;
                                if (item.fields.reviewer) {
                                    this.reviewers.push(item.fields.reviewer[0]);
                                }
                                return {
                                    id: item.id,
                                    index: this.index,
                                    ...item.fields
                                }
                            })
                        }

                        this.table_0 = this.items[0];
                        this.table_1 = this.items[1];
                        this.table_2 = this.items[2];
                        this.table_3 = this.items[3];
                        this.table_4 = this.items[4];
                        this.items = [this.table_0, this.table_1, this.table_2, this.table_3, this.table_4]

                        this.reviewers = this.reviewers.filter(this.onlyUnique);

                        this.loading = false; // Removes table loader graphic
                        this.getReviewers();
                    }).catch((error) => {
                        console.log(error)
                    })
                },
                saveItem(item, key) {
                    let data = item,
                        method = "patch",
                        id = item.id,
                        url = `https://api.airtable.com/v0/${airTableApp}/${airTableName}/${id}`;

                    if (key === "rank") {
                        data = {
                            fields: {
                                rank: item.rank
                            }
                        }
                    } else if (key === "ref") {
                        data = {
                            fields: {
                                review: item.ref
                            }
                        }
                    } else if (key === "review") {
                        data = {
                            fields: {
                                review: item.review
                            }
                        }
                    } else if (key === "crossRef") {
                        data = {
                            fields: {
                                crossRef: item.crossRef,
                                issn: item.issn
                            }
                        }
                    } else if (key === "scopus") {
                        data = {
                            fields: {
                                scopus: item.scopus
                            }
                        }
                    } else if (key === "saveFormItem") {
                        data = {
                            //fields: item
                            fields: {
                                title: item.title,
                                authors: item.authors,
                                source: item.source,
                                doi: item.doi,
                                type: item.type,
                                year: item.year,
                                rank: item.rank,
                                ref: item.ref,
                                hundredWords: item.hundredWords
                            }
                        }
                    } else if (key === "checkOutput") {
                        data = {
                            fields: {
                                alex_steph_check: item.alex_steph_check,
                                ed_check: item.ed_check,
                                george_check: item.george_check,
                                ilir_check: item.ilir_check,
                                jason_check: item.jason_check,
                                lorenzo_check: item.lorenzo_check
                            }
                        }
                    } else if (key === "saveCommentForm") {
                        data = {
                            fields: {
                                alex_steph: item.alex_steph,
                                ed: item.ed,
                                george: item.george,
                                ilir: item.ilir,
                                jason: item.jason,
                                lorenzo: item.lorenzo
                            }
                        }
                    } else if (key === "outputMetaData") {
                        data = {
                            fields: item
                        }
                    } else {
                        data = {
                            records: item
                        }
                        delete data.records.fields.id
                    }
                    axios[method](url,
                        data, {
                            headers: {
                                Authorization: "Bearer " + apiToken,
                                "Content-Type": "application/json"
                            },
                            transformRequest: [(data) => {
                                if (data.fields.id) {
                                    delete data.fields.id; // must remove id from the data for airtable patch to work
                                    delete data.fields.index
                                }
                                return JSON.stringify(data);
                            }]
                        }
                    ).then(response => {
                        if (response.data && response.data.id) {
                            this.editedItem.id = response.data.id
                            if (!id) {
                                this.items.push(this.editedItem)
                            }
                            this.editedItem = {}
                        }
                        if (key === "saveFormItem") {
                            this.dialog = !this.dialog;
                            setTimeout(function() {
                                location.reload();
                            }, 500)
                        }
                    }).catch(error => {
                        console.log(error.response)
                    })
                },
                save(msg) {
                    this.snack = true;
                    this.snackColor = 'success';
                    this.snackText = msg || 'Change uploaded';
                    this.sortBy = 'rank'
                },
                cancel(msg) {
                    this.snack = true;
                    this.snackColor = 'error';
                    this.snackText = msg || 'Not uploaded';
                    this.sortBy = 'rank'
                },
                open(msg) {
                    this.snack = true;
                    this.snackColor = 'info';
                    this.snackText = msg || 'Dialog opened'
                },
                close(msg) {
                    this.snack = true;
                    this.snackColor = 'error';
                    this.snackText = msg || 'Not uploaded';
                    this.sortBy = 'rank'
                },
                onlyUnique(value, index, self) {
                    return self.indexOf(value) === index;
                },
                getReviewers(item) {
                    const reviewerAirtableName = "tbl3wygJ0TChPwNrq";
                    const reviewerAirtableView = "viw85HQDLZdkNKXRD";
                    let submissionURL = `https://api.airtable.com/v0/${airTableApp}/${reviewerAirtableName}?&view=${reviewerAirtableView}&filterByFormula=FIND(%7BreviewerID%7D%2C%22${this.reviewers}%22)`;
                    axios.get(submissionURL, {
                        headers: {
                            Authorization: "Bearer " + apiToken
                        }
                    }).then((response) => {
                        let reviews = response.data.records;
                        for (let i = 0; i < reviews.length; i++) {
                            let rNo = i + 1;
                            if (reviews[i].fields.suitability) {
                                this.suitabilityReview = this.suitabilityReview + "<br><br>R" + rNo + ": " + reviews[i].fields.suitability;
                            }
                            if (reviews[i].fields.strongWeak) {
                                this.strongweakReview = this.strongweakReview + "<br><br>R" + rNo + ": " + reviews[i].fields.strongWeak;
                            }
                            if (reviews[i].fields.howTosReviews) {
                                this.hotosReview = this.hotosReview + "<br><br>R" + rNo + ": " + reviews[i].fields.howTosReviews;
                            }
                            if (reviews[i].fields.hundredWord) {
                                this.hunderwordsReview = this.hunderwordsReview + "<br><br>R" + rNo + ": " + reviews[i].fields.hundredWord;
                            }

                        }
                    }).catch((error) => {
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>

</html>