.overall-series .ct-bar,
.ct-series-a .ct-bar {
    stroke: #282B28;
}

.outputs-series .ct-bar,
.ct-series-b .ct-bar {
    stroke: #D36135;
}

.impact-series .ct-bar,
.ct-series-c .ct-bar {
    stroke: #853C2D;
}

.environment-series .ct-bar,
.ct-series-d .ct-bar {
    stroke: #83BCA9;
}