<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="members,hci,hcid,hci city,hcid city,hcid london" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/materialize-css@latest/dist/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <script defer type="text/javascript" src="https://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/aos@latest/dist/aos.js"></script>
    <script defer type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script defer type="text/javascript" src="../js/vue_members.js"></script>
    <title>HCID | Centre Members</title>
</head>

<body>
    <template-header id="header" subhead="<br>members" subtitle="<strong>The Centre for Human-Computer Interaction Design</strong><br><p class='mt-2 smaller'><a class='black-text' href='https://city.ac.uk' target='_blank'>City, University of London</a></p>"
        page="Members"></template-header>
    <main>
        <div class="container hide-on-med-and-down mb-5">
            <div class="row">
                <div class="col s12 mb-5">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#all">All members</a></li>
                        <li class="tab col s3"><a href="#phds">PhD Students</a></li>
                        <li class="tab col s3"><a href="#staff">Academic &amp; Research Staff</a></li>
                        <li class="tab col s3"><a href="#alum">Visitors &amp; Alumni</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container show-on-medium mb-5"  style="display:none;">
            <div class="row">
                <div class="col s12 mb-5">
                    <ul class="tabs">
                        <li class="tab col s2"><a class="active" href="#all">All members</a></li>
                        <li class="tab col s2"><a href="#phds">PhDs</a></li>
                        <li class="tab col s3"><a href="#staff">Academic &amp; Research</a></li>
                        <li class="tab col s3"><a href="#alum">Visitors &amp; Alumni</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container hide-on-med-and-up">
            <div class="row">
                <div class="col s12 mb-5">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#all">All</a></li>
                        <li class="tab col s3"><a href="#phds">PhDs</a></li>
                        <li class="tab col s3"><a href="#staff">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="app-all">
            <div class="container" id="all">
                <div class="row">
                    <div class="col s12">
                        <template-members v-for="item in items" v-if="item['status']=='staff' || item['status']=='research' || item['status']=='phd'" :item="item" members="all"></template-members>
                    </div>
                </div>
            </div>
            <div class="container" id="phds">
                <div class="row">
                    <!-- <div class="col s12"> -->
                        <template-staff v-for="item in items" v-if="item['status']=='phd'" :item="item" members="phds"></template-staff>
                    <!-- </div> -->
                </div>
            </div>
            <div class="container" id="staff">
                <div class="row">
                    <template-staff v-for="item in items" v-if="item['status']=='staff' || item['status']=='research'" :item="item" members="staff"></template-staff>
                </div>
            </div>
            <div class="container hide-on-small-only" id="alum">
                <div class="row">
                    <div class="col s12 m11 mb-1">
                        <div class="col s12 m4 offset-m1 mb-1">
                            <h2 class="hide-on-med-and-down">Honorary Posts</h2>
                            <h2 class="hide-on-large-only">Honorary</h2>
                        </div>
                        <div class="col s12 m7 mb-1">
                            <h2>Alumni</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m11 mb-1">
                        <div class="col s12 m4 offset-m1">
                            <h3 class="reg mt-0 mb-1">Senior Visiting Fellow</h3>
                            <template-alum v-for="item in items" :item="item" post="Honorary Senior Visiting Fellow"></template-alum>
                            <h3 class="reg mt-4 mb-1 hide">Honorary Visiting Fellows (CASS)</h3>
                            <template-alum v-for="item in items" :item="item" post="Honorary Visiting Fellow (Bayes)"></template-alum>
                            <h3 class="reg mt-4 mb-1">Visiting Fellow</h3>
                            <template-alum v-for="item in items" :item="item" post="Honorary Visiting Fellow"></template-alum>
                        </div>
                        <div class="col s12 m7" style="column-count: 3;column-width: 28%;column-gap: 5%">
                            <template-alum v-for="item in items" :item="item" post="Previous Staff and Students"></template-alum>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <template-footer id="footer"></template-footer>
</body>

</html>