<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Centre Members</title>
</head>

<body>
    <header>
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn waves-effect waves-light light-blue darken-1' href='#' data-target='dropdown1'><i class="material-icons left">menu</i>Menu</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a class="menu-subheader menu-selection" href="../centre/members">Members</a></li>
            <li><a class="menu-subheader" href="../centre/charter">Charter</a></li>
            <li><a class="menu-subheader" href="../centre/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>
        <div class="container" style="padding-bottom:5rem;">
            <div class="row">
                <div class="col s12 m9 l10">
                    <h1 class="page-title">
                        <a class="black-text" href="../">HCID</a><span class="red-text">:<br>Centre members</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div id="app">
                <div class="row">
                    <div class="col s12 m9 l10" id="bodybox">
                        <table class="centered collection">
                            <tr class="collection-item">
                                <!-- <td style="display: inline-block;" v-for="item in items" v-if="item['fields']['status'] == 'staff' || item['fields']['status'] == 'research' || item['fields']['status'] == 'phd'"> -->
                                <td style="display: inline-block;" v-for="item in items">
                                    <div v-if="item['fields']['photo-url']">
                                        <img class="head-shot" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['last-name'] + '_photo'" height="120px" />
                                    </div>
                                    <div v-else>
                                        <i class="large material-icons" style="border-radius: 5%;">assignment_ind</i>
                                    </div>
                                    <div v-if="item['fields']['bio-url']">
                                        <a v-bind:href="item['fields']['bio-url']">{{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}</a>
                                    </div>
                                    <div v-else>
                                        {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="grey-text text-darken-4" style="font-weight:700;">
                        HCID
                    </h5>
                    <span>
                            <a class="grey-text text-darken-4" href="https://www.city.ac.uk/mathematics-computer-science-engineering/research/centre-for-human-computer-interaction-design" title="Centre for Human-Computer Interaction Design | City, University of London">Centre for Human-Computer Interaction Design</a>
                        </span>
                </div>
                <div id="address" class="col l4 offset-l2 s12" style="margin-top:2.5rem;">
                    <h6 class="grey-text text-darken-1">
                        Address
                    </h6>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">City, University of London</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">College Building</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">276-284 St John Street</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">Clerkenwell</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">London, EC1V 4PB</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-1" href="https://goo.gl/maps/QbdWpuT8ycp">Google Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col 4">
                    <div class="footer-copyright grey lighten-5 grey-text text-lighten-2">
                        <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/copyleft.en.html" title="What is Copyleft? - GNU Project - Free Software Foundation">Copyleft</a> © 2018 GNU <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/gpl.html"
                            title="The GNU General Public License v3.0 - GNU Project - Free Software Foundation">General Public License</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {

                    // Init variables
                    var self = this
                    var app_id = "appVrmQAGy96E1jEP";
                    var app_key = "keyC83ksN49wS10kX";
                    this.items = []
                    axios.get(
                        //https://api.airtable.com/v0/appaTssw36NjXo3tt/students?filterByFormula=OR((FIND(%22phd%22,{status})),(FIND(%22staff%22,{status})),(FIND(%22research%22,{status})))&sortField=last-name&sortDirection=asc&api_key=keyC83ksN49wS10kX
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=OR((FIND(%22phd%22%2C%7Bstatus%7D))%2C(FIND(%22staff%22%2C%7Bstatus%7D))%2C(FIND(%22research%22%2C%7Bstatus%7D)))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            //"https://api.airtable.com/v0/"+app_id+"/students?sortField=last-name&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                            //console.log(response.data.records)
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown();
        });
    </script>
</body>

</html>