<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Centre Members</title>
</head>

<body>

    <template-header id="header" subhead="members" menumembers="true" subtitle="<strong>The Centre for Human-Computer Interaction Design</strong><br><p class='mt-2 smaller'>City, University of London</p>"></template-header>
    
    <main>
        <div class="container hide-on-small-only">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s2"><a class="active" href="#all">All members</a></li>
                        <li class="tab col s2"><a href="#phds">PhD Students</a></li>
                        <li class="tab col s2"><a href="#researchers">Researchers</a></li>
                        <li class="tab col s3"><a href="#staff">Permanent Staff</a></li>
                        <li class="tab col s3"><a href="#alum">Visitors &amp; Alumni</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container hide-on-med-and-up">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#all">All</a></li>
                        <li class="tab col s3"><a href="#phds">PhDs</a></li>
                        <li class="tab col s3"><a href="#researchers">Research</a></li>
                        <li class="tab col s3"><a href="#staff">Staff</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" id="all">
            <div id="app-all">
                <div class="row">
                    <div class="col s12">
                        <div class="col s5 m4 l3 center-align mb-4" v-for="item in items">
                            <div v-if="item['fields']['photo-url']">
                                <img class="head-shot" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['first-name'] + ' ' + item['fields']['last-name'] + ' photo'" height="120px" />
                            </div>
                            <div v-else>
                                <i class="large material-icons roundedElement">assignment_ind</i>
                            </div>
                            <div v-if="item['fields']['bio-url']">
                                <a v-bind:href="item['fields']['bio-url']">{{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}</a>
                            </div>
                            <div v-else>
                                {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="phds">
            <div id="app-phds">
                <div class="row">
                    <div class="col s12">
                        <div class="col s5 m4 l3 center-align mb-4" v-for="item in items">
                            <div v-if="item['fields']['photo-url']">
                                <img class="head-shot" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['first-name'] + ' ' + item['fields']['last-name'] + ' photo'" height="120px" />
                            </div>
                            <div v-else>
                                <i class="large material-icons roundedElement">assignment_ind</i>
                            </div>
                            <div v-if="item['fields']['bio-url']">
                                <a v-bind:href="item['fields']['bio-url']">{{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}</a>
                            </div>
                            <div v-else>
                                {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="researchers">
            <div id="app-researchers">
                <div class="row">
                    <div class="col s12">
                        <div class="col s5 m4 l3 center-align mb-4" v-for="item in items">
                            <div v-if="item['fields']['photo-url']">
                                <img class="head-shot" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['first-name'] + ' ' + item['fields']['last-name'] + ' photo'" height="120px" />
                            </div>
                            <div v-else>
                                <i class="large material-icons roundedElement">assignment_ind</i>
                            </div>
                            <div v-if="item['fields']['bio-url']">
                                <a v-bind:href="item['fields']['bio-url']">{{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}</a>
                            </div>
                            <div v-else>
                                {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="staff">
            <div id="app-staff">
                <div class="row">
                    <div class="col s12 m10 mb-5" v-for="item in items">
                        <div class="col m3 hide-on-small-only">
                            <div class="right-align" v-if="item['fields']['photo-url']">
                                <img class="head-shot right-align" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['name'] + ' photo'" height="120px" />
                            </div>
                            <div v-else>
                                <i class="large material-icons roundedElement">assignment_ind</i>
                            </div>
                        </div>
                        <div class="col s10 mb-2 pl-5 hide-on-med-and-up">
                            <div v-if="item['fields']['photo-url']">
                                <img class="head-shot right-align" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['name'] + ' photo'" height="120px" />
                            </div>
                            <div v-else>
                                <i class="large material-icons roundedElement">assignment_ind</i>
                            </div>
                        </div>
                        <div class="col s12 m8 pl-5">
                            <p class="mt-0" v-if="item['fields']['bio-url']">
                                <strong><a class="reg link" v-bind:href="item['fields']['bio-url']">{{ item['fields']['name'] }}</a><span class="reg" v-if="item['fields']['post']">, {{ item['fields']['post'] }}</span></strong>
                                <br />
                                <span class="reg" v-else>
                                    <strong>{{ item['fields']['name'] }}</strong><span class="reg">, {{ item['fields']['post'] }}</span>
                                </span>
                                <span class="grey-text text-darken-3" v-if="item['fields']['short-bio']">
                                    {{ item['fields']['short-bio'] }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container hide-on-small-only" id="alum">
            <div class="row">
                <div class="col s12 m11 mb-1">
                    <div class="col s12 m4 offset-m1 mb-1">
                        <h2>Visiting</h2>
                    </div>
                    <div class="col s12 m7 mb-1">
                        <h2>Alumni</h2>
                    </div>
                </div>
            </div>
            <div id="app-alum">
                <div class="row">
                    <div class="col s12 m11 mb-1">
                        <div class="col s12 m4 offset-m1">
                            <h3 class="reg mt-0 mb-1">Honorary Senior Visiting Fellow</h3>
                            <p class="mt-0" v-for="(item, index) in items" v-if="item['fields']['post'] == 'Honorary Senior Visiting Fellow'">
                                <span v-if="item['fields']['bio-url']">
                                <a class="link" v-bind:href="item['fields']['bio-url']">
                                    {{ item['fields']['name'] }}
                                </a>
                            </span>
                                <span v-else>
                                    {{ item['fields']['name'] }}
                                </span>
                            </p>
                            <h3 class="reg mt-4 mb-1">Honorary Visiting Fellows (CASS)</h3>
                            <p class="mt-0" v-for="(item, index) in items" v-if="item['fields']['post'] == 'Honorary Visiting Fellows (CASS)'">
                                <span v-if="item['fields']['bio-url']">
                                <a class="link" v-bind:href="item['fields']['bio-url']">
                                    {{ item['fields']['name'] }}
                                </a>
                            </span>
                                <span v-else>
                                    {{ item['fields']['name'] }}
                                </span>
                            </p>
                            <h3 class="reg mt-4 mb-1">Honorary Visiting Fellows</h3>
                            <p class="mt-0" v-for="(item, index) in items" v-if="item['fields']['post'] == 'Honorary Visiting Fellows'">
                                <span v-if="item['fields']['bio-url']">
                                <a class="link" v-bind:href="item['fields']['bio-url']">
                                    {{ item['fields']['name'] }}
                                </a>
                            </span>
                                <span v-else>
                                    {{ item['fields']['name'] }}
                                </span>
                            </p>
                        </div>
                        <div class="col s12 m7" style="column-count: 3;column-width: 28%;column-gap: 5%">
                            <p class="mt-0" v-for="item in items" v-if="item['fields']['status'] == 'alum'">
                                <span v-if="item['fields']['bio-url']">
                                <a class="link" v-bind:href="item['fields']['bio-url']">
                                    {{ item['fields']['name'] }}
                                </a>
                                </span>
                                <span v-else>
                                    {{ item['fields']['name'] }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="js/vue_components.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app-all',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=OR((FIND(%22phd%22%2C%7Bstatus%7D))%2C(FIND(%22staff%22%2C%7Bstatus%7D))%2C(FIND(%22research%22%2C%7Bstatus%7D)))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
        var app = new Vue({
            el: '#app-phds',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=(FIND(%22phd%22%2C%7Bstatus%7D))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
        var app = new Vue({
            el: '#app-researchers',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=(FIND(%22research%22%2C%7Bstatus%7D))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
        var app = new Vue({
            el: '#app-staff',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=(FIND(%22staff%22%2C%7Bstatus%7D))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
        var app = new Vue({
            el: '#app-alum',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/members?filterByFormula=OR((FIND(%22alum%22%2C%7Bstatus%7D))%2C(FIND(%22visitor%22%2C%7Bstatus%7D)))&sort%5B0%5D%5Bfield%5D=last-name&sort%5B0%5D%5Bdirection%5D=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            $('.tabs').tabs();
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>