<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="phd,hci,hcid,hci city,hcid city,hcid london" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/materialize-css@latest/dist/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <script defer type="text/javascript" src="https://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/aos@latest/dist/aos.js"></script>
    <script defer type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script defer type="text/javascript" src="../js/vue_phdresearch.js"></script>
    <title>HCID | PhD Research</title>
</head>

<body>
    <template-header id="header" subhead="<br>PhD Research" subtitle="PhD Programme" page="PhD_Research"></template-header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col s12 mb-5">
                    <h2 class="flow-text">PhD Students</h2>
                    <ul class="tabs">
                        <li class="tab col s4"><a class="active" href="#current">Current</a></li>
                        <li class="tab col s4"><a href="#past">Past</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="app">
            <template-current v-for="item in items" v-if="item['fields']['status'][0]=='phd'" :item="item.fields"  id="current"></template-current>
            <template-past v-for="item in items" v-if="item['fields']['status'].includes('phd') && item['fields']['status'].includes('alum')" :item="item.fields" post="Previous Staff and Students" id="past"></template-past>
        </div>
    </main>
    <template-footer id="footer"></template-footer>
</body>

</html>