<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="phd,hci,hcid,hci city,hcid city,hcid london" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/materialize-css@latest/dist/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <script defer type="text/javascript" src="https://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/aos@latest/dist/aos.js"></script>
    <script defer type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script defer type="text/javascript" src="../js/vue_phdresearch.js"></script>
    <title>HCID | PhD Research</title>
</head>

<body>
    <template-header id="header" subhead="<br>PhD Research" page="PhD_Research"></template-header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>PhD Programme</h2>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m10">
                    <p class="lead reg">At the Centre for HCID, we encourage a diversity of PhD research related to interactive systems, interaction design, and the study of sociotechnical domains. We pride ourselves on creating a supportive culture for post graduate research
                        that is committed to both individual and collective development.</p>
                    <p class="reg">HCID staff members are happy to correspond and talk about their research interests, and offer advice on how to apply for a PhD. For further information about potential PhD supervisors, see our list of academic staff <a class="link"
                            href="https://hcid.city/centre/members.html#staff" target="_new">here</a>. </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col s12 m10 mt-md-n5 ">
                    <h3>Applying</h3>
                    <p>For information about applying to the Computer Science Department and HCID visit our departmental <a class="link" href="https://www.city.ac.uk/study/courses/research-degrees/computer-science" target="_new">pages</a>.</p>
                    <p>Further details will be posted on this page soon, providing HCID specific information.</p>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 L7">
                    <p class="reg">Topics we have expertise in include: </p>
                    <ul class="collection" style="border:0">
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">data_usage</i><span class="ml-3">Creative and inventive methods</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">book</i>
                            <span class="ml-3">Digital authoring and archiving</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">search</i>
                            <span class="ml-3">Information retrieval</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">desktop_windows</i>
                            <span class="ml-3">Information science</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">details</i>
                            <span class="ml-3">Interactive AI and machine learning</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">healing</i>
                            <span class="ml-3">Personal healthcare systems</span>
                        </a>
                        <a class="collection-item black-text">
                            <i class="material-icons smaller">share</i>
                            <span class="ml-3">Science and technology studies</span>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col s12 mt-4">
                    <div class="slider">
                        <ul class="slides">
                            <li class="green">
                                <div class="m-5 pt-2 valign-wrapper">
                                    <div class="col s12 m5 l3 mt-sm-5 mt-md-1 center-align hide-on-small-only">
                                        <img src="https://hcid.city/centre/photos/axel_niklasson.jpg" alt="Axel Niklasson" class="circle img-responsive">
                                    </div>
                                    <div class="col s12 m7">
                                        <h2 class="white-text">Axel Niklasson</h2>
                                        <p class="white-text">Supervisors: Alex Taylor, Stephann Makri</p>
                                        <p class="white-text">Axel's current research centres on the introduction of AI in team collaboration. Previous to his academic work, Axel enjoyed a 20-year international career in telecom, media and software engineering. He earned his
                                            MSc from Lund University, Sweden.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="red">
                                <div class="m-5 pt-2 valign-wrapper">
                                    <div class="col s12 m5 hide-on-small-only">
                                    </div>
                                    <div class="col s12 m7">
                                        <h2 class="white-text">Linda Berube</h2>
                                        <p class="white-text">Supervisors: Ernesto Priego, Stephann Makri</p>
                                        <p class="white-text">Linda is an AHRC Collaborative Doctoral Programme student, working with The British Library. Her research is based on a mixed-methods and interdisciplinary approach to understanding the UK digital comics creation-to-consumption
                                            cycle.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="orange darken-1">
                                <div class="m-5 pt-2 valign-wrapper">
                                    <div class="col s12 m5 l3 mt-sm-5 mt-md-1 center-align hide-on-small-only">
                                        <img src="https://hcid.city/centre/photos/beatrice_vincenzi.jpg" alt="Beatrice Vincenzi" class="circle img-responsive">
                                    </div>
                                    <div class="col s12 m7">
                                        <h2 class="white-text">Beatrice Vincenzi</h2>
                                        <p class="white-text">Supervisors: Alex Taylor, Simone Stumpf</p>
                                        <p class="white-text">Beatrice is a 3 year PhD student and her research explores AI assistive technology for people with visual impairment to augment sighted guiding partnership and social interaction in navigation.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="purple darken-3">
                                <div class="m-5 pt-2 valign-wrapper">
                                    <div class="col s12 m5 l3 mt-sm-5 mt-md-1 center-align hide-on-small-only">
                                        <img src="https://dl.airtable.com/.attachmentThumbnails/f1f0afbfd42380f8cd08b6c8dbd6974a/34ad995f" alt="Srravya Chandhiramowuli" class="circle img-responsive">
                                    </div>
                                    <div class="col s12 m7">
                                        <h2 class="white-text">Srravya Chandhiramowuli</h2>
                                        <p class="white-text">Supervisors: Alex Taylor, Sara Heitlinger</p>
                                        <p class="white-text">Srravya is a PhD student at HCID. Her research interests lie in examining the implications of computing technologies (including apps, data, algorithms and more) for labour processes and work practices.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col s12 m8 mt-md-n5">
                    <h3>PhD Students</h3>
                    <div class="mb-5">
                        <ul class="tabs">
                            <li class="tab col s4"><a class="active" href="#current">Current</a></li>
                            <li class="tab col s4"><a href="#past">Past</a></li>
                        </ul>
                    </div>
                    <div id="app">
                        <div class="mb-5" id="current">
                            <template-current v-for="item in items" v-if="item['status'].includes('phd') && !item['status'].includes('alum')" :item="item"></template-current>
                        </div>
                        <div class="mb-5" id="past">
                            <div class="row">
                                <template-past v-for="item in items" v-if="item['status'].includes('phd') && (item['status'].includes('alum') || item['status'].includes('staff'))" :item="item" post="Previous Staff and Students"></template-past>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <template-footer id="footer"></template-footer>
</body>

</html>