<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, projects" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Projects</title>
</head>

<body>

    <template-header id="header" subtitle="" subhead="<br>projects" page="Projects"></template-header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#live">Live</a></li>
                        <li class="tab col s3"><a href="#archive">Archive</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" id="live">
            <div class="row">
                <div id="app-live">
                    <div class="col s12">
                        <div v-bind:id="item['fields']['project-name']" v-for="item in items" v-if="item['fields']['project-name']" class="my-5">
                            <a v-if="item['fields']['image-url']" v-bind:href="item['fields']['project-url']"><img class="responsive-img" v-bind:src="item['fields']['image-url']" v-bind:alt="item['fields']['project-name'] + ' icon'" style="max-height:8rem" /></a>
                            <div>
                                <h1 v-if="item['fields']['image-url'] == null" class="bold mb-1">
                                    <span v-if="item['fields']['project-url']"><a v-bind:href="item['fields']['project-url']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                    <span v-else><a v-bind:href="'/centre/project?name=' + item['fields']['project-name']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                </h1>
                                <span v-if="item['fields']['long-name']">
                                        {{ item['fields']['long-name'] }}
                                    </span>
                                <p>
                                    <strong>About: </strong>
                                    <span v-if="item['fields']['about']" class="lbr grey-text text-darken-2">{{ item['fields']['about'] }}</span>
                                </p>
                                <p class="pb-5">
                                    <strong>Project members: </strong>
                                    <span v-if="item['fields']['lead']" class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['lead-url']">{{ item['fields']['lead-str'] }}</a> (lead)</span><span v-if="item['fields']['members']" class="lbr grey-text text-darken-2">, {{ item['fields']['members-str'] }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="archive">
            <div class="row">
                <div id="app-archive">
                    <div class="col s12">
                        <div v-bind:id="item['fields']['project-name']" v-for="item in items" v-if="item['fields']['project-name']" class="my-5">
                            <a v-if="item['fields']['image-url']" v-bind:href="item['fields']['project-url']"><img class="responsive-img" v-bind:src="item['fields']['image-url']" v-bind:alt="item['fields']['project-name'] + ' icon'" style="max-height:8rem" /></a>
                            <div>
                                <h1 v-if="item['fields']['image-url'] == null" class="bold mb-1">
                                    <span v-if="item['fields']['project-url']"><a v-bind:href="item['fields']['project-url']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                    <span v-else><a v-bind:href="'/centre/project?name=' + item['fields']['project-name']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                </h1>
                                <span v-if="item['fields']['long-name']">
                                    {{ item['fields']['long-name'] }}
                                </span>
                                <p v-if="item['fields']['about']">
                                    <strong>About: </strong>
                                    <span class="lbr grey-text text-darken-2">{{ item['fields']['about'] }}</span>
                                </p>
                                <p v-if="item['fields']['lead']" class="pb-5">
                                    <strong>Project members: </strong>
                                    <span class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['lead-url']">{{ item['fields']['lead-str'] }}</a> (lead)</span><span v-if="item['fields']['members']" class="lbr grey-text text-darken-2">, {{ item['fields']['members-str'] }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>

    <script src="http://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script type="text/javascript">
        var appLive = new Vue({
            el: '#app-live',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/projects?view=live&sortField=project-name&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
        var appArchive = new Vue({
            el: '#app-archive',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/projects?view=archive&sortField=project-name&sortDirection=asc", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>

</html>