<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks, speakers" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | Project</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="no-shadows">
                <div class="nav-wrapper white">
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons grey-text text-darken-2">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-small-and-down">
                        <li><a class="dropdown-trigger grey-text text-darken-2" href="#!" data-target="dropdown1">HCID</a></li>
                        <li><a href="../centre/charter" class="grey-text text-darken-2">Charter</a></li>
                        <li><a href="../centre/members" class="grey-text text-darken-2">Members</a></li>
                        <li class="active"><a href="../centre/projects" class="grey-text text-darken-2">Projects</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Side nav structure -->
        <ul class="sidenav" id="mobile-nav">
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a href="../centre/charter" class="menu-subheader">Charter</a></li>
            <li><a href="../centre/members" class="menu-subheader">Members</a></li>
            <li class="active"><a href="../centre/projects" class="menu-subheader">Projects</a></li>
            <li><a href="../centre/calendar" class="menu-subheader">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- HCID dropdown menu -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a class="menu-header menu-selection" href="../">HCID</a></li>
            <li><a class="menu-subheader" href="../centre/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- Page title -->
        <div class="container" style="padding-bottom:5rem;">
            <div class="row">
                <div class="col s12 m9 l10">
                    <h1 class="page-title">
                        <a class="black-text" href="../../">HCID</a>:<br><span class="red-text">Project</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div id="app">
                    <div class="col s10">
                        <div v-bind:id="item['fields']['project-name']" v-for="item in items" v-if="item['fields']['project-name']" class="my-5">
                            <a v-if="item['fields']['image-url']" v-bind:href="item['fields']['project-url']"><img v-bind:src="item['fields']['image-url']" v-bind:alt="item['fields']['project-name'] + ' icon'" style="max-height:8rem" /></a>
                            <div>
                                <h1 v-if="item['fields']['image-url'] == null" class="mb-1">
                                    <span v-if="item['fields']['project-url']"><a v-bind:href="item['fields']['project-url']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                    <span v-else><a v-bind:href="'/centre/project?name=' + item['fields']['project-name']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                </h1>
                                <span v-if="item['fields']['long-name']">
                                        {{ item['fields']['long-name'] }}
                                    </span>
                                <p>
                                    <strong>About: </strong>
                                    <span v-if="item['fields']['about']" class="lbr grey-text text-darken-2">{{ item['fields']['about'] }}</span>
                                </p>
                                <p>
                                    <strong>Principle Investigator: </strong>
                                    <span v-if="item['fields']['lead']" class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['lead-url']">{{ item['fields']['lead-str'] }}</a></span>
                                </p>
                                <p>
                                    <strong>Co-investigator: </strong>
                                    <span v-if="item['fields']['lead']" class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['co-i-url']">{{ item['fields']['co-i'] }}</a></span>
                                </p>
                                <p class="pb-5">
                                    <strong>Researchers: </strong>
                                    <span v-if="item['fields']['members']" class="lbr grey-text text-darken-2">{{ item['fields']['members-str'] }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="grey-text text-darken-4" style="font-weight:700;">
                        HCID
                    </h5>
                    <span>
					<a class="grey-text text-darken-4" href="https://www.city.ac.uk/mathematics-computer-science-engineering/research/centre-for-human-computer-interaction-design" title="Centre for Human-Computer Interaction Design | City, University of London">Centre for Human-Computer Interaction Design</a>
				</span>
                </div>
                <div id="address" class="col l4 offset-l2 s12" style="margin-top:2.5rem;">
                    <h6 class="grey-text text-darken-1">
                        Address
                    </h6>
                    <ul>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">City, University of London</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">College Building</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">276-284 St John Street</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">Clerkenwell</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">London, EC1V 4PB</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-1" href="https://goo.gl/maps/QbdWpuT8ycp">Google Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col 4">
                    <div class="footer-copyright grey lighten-5 grey-text text-lighten-2">
                        <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/copyleft.en.html" title="What is Copyleft? - GNU Project - Free Software Foundation">Copyleft</a> © 2018 GNU <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/gpl.html"
                            title="The GNU General Public License v3.0 - GNU Project - Free Software Foundation">General Public License</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var name = url.searchParams.get("name");
                    var self = this
                    var app_id = "appVrmQAGy96E1jEP";
                    var app_key = "keyC83ksN49wS10kX";
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/projects?filterByFormula=(FIND(%22" + name + "%22%2C%7Bproject-name%7D))", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records;
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>