<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="hci,chi,ux,design,ux design,hcid,hci city,hcid city,hci london" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/materialize-css@latest/dist/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <script defer type="text/javascript" src="https://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script defer type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script defer type="text/javascript" src="../js/vue_project.js"></script>
    <title>HCID | Project</title>
</head>

<body>

    <template-header id="header" subtitle="" subhead="<br>project" page="Projects"></template-header>

    <main>
        <div class="container">
            <div class="row">
                <div id="app">
                    <div class="col s10">
                        <div v-bind:id="item['fields']['project-name']" v-for="item in items" v-if="item['fields']['project-name']" class="my-5">
                            <a v-if="item['fields']['image-url']" v-bind:href="item['fields']['project-url']"><img class="responsive-img" v-bind:src="item['fields']['image-url']" v-bind:alt="item['fields']['project-name'] + ' icon'" style="max-height:8rem" /></a>
                            <div>
                                <h1 v-if="item['fields']['image-url'] == null" class="bold mb-1">
                                    <span v-if="item['fields']['project-url']"><a v-bind:href="item['fields']['project-url']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                    <span v-else><a v-bind:href="'/centre/project?name=' + item['fields']['project-name']" class="black-text">{{ item['fields']['project-name'] }}</a></span>
                                </h1>
                                <span v-if="item['fields']['long-name']" class="lbr">
                                    {{ item['fields']['long-name'] }}
                                </span>
                                <p v-if="item['fields']['page-image-url']"><img class="responsive-img" v-bind:src="item['fields']['page-image-url']" v-bind:alt="item['fields']['project-name'] + ' visual'" style="max-height:10rem" />
                                    <span class="lbr grey-text text-darken-2 center-align">{{ item['fields']['page-image-caption'] }}</span>
                                </p>
                                <p v-if="item['fields']['about']">
                                    <strong>About: </strong>
                                    <span class="lbr grey-text text-darken-2">{{ item['fields']['about'] }}</span>
                                </p>
                                <p v-if="item['fields']['lead']">
                                    <strong>Principle Investigator: </strong>
                                    <span class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['lead-url']">{{ item['fields']['lead-str'] }}</a></span>
                                </p>
                                <p v-if="item['fields']['co-i']">
                                    <strong>Co-investigator: </strong>
                                    <span class="lbr grey-text text-darken-2"><a v-bind:href="item['fields']['co-i-url']">{{ item['fields']['co-i'] }}</a></span>
                                </p>
                                <p v-if="item['fields']['members']" class="pb-5">
                                    <strong>Researchers: </strong>
                                    <span class="lbr grey-text text-darken-2">{{ item['fields']['members-str'] }}</span><span v-if="item['collaborators']" class="lbr grey-text text-darken-2">, {{ item['collaborators'] }}</span>
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>

    <!--     <script src="http://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="../js/vue_headfoot.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script> 
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var name = url.searchParams.get("name");
                    var self = this;
                    this.items = [];
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/projects?filterByFormula=(FIND(%22" + name + "%22%2C%7Bproject-name%7D))", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records;
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>-->
</body>

</html>