<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="hci,chi,ux,design,ux design,hcid,hci city,hcid city,hci london" />
    <meta name="description" content="HCID is a research group based at City, University of London. Its prime focus is the relationship between people and innovative technology with the aim of creating more useful and usable systems." />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID Centre | Research</title>
</head>

<body>

    <template-header id="header" subtitle="" menuresearch="true" subhead="<br>research"></template-header>

    <main style="min-height: 40vh">

        <div class="section white">
            <div class="row container">
                <div class="col s12 m7 grey-text text-darken-3 lighten-3 reg lead">
                    <p class="flow-text">Research in HCID covers a broad range of topics and design-orientated studies and interventions. We think of our work falling between three intersecting axes of research.</p>
                </div>
            </div>
            <div class="row container">
                <div class="col s11">

                </div>
            </div>
            <div class="row container">
                <div class="col m9 l7 mb-4"><img class="responsive-img" width="150%" height="150%" src="media/axes.jpg"></div>
                <div class="col m9 l5 grey-text text-darken-3 lighten-3 ex-light">
                    <ol>
                        <li class="mb-3">The study of <strong><a href="#issues">individual and social issues</a></strong> arising from and surrounding the proliferation of information and communication technologies.</li>
                        <li class="mb-3">The development of <strong><a href="#methods">design methods</a></strong> that enable us to engage with people and communities and explore new technological possibilities.</li>
                        <li>The prototyping of <strong><a href="#systems">interactive systems</a></strong> that use existing and novel technologies in response to real-world needs.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="container mb-5" id="app">
            <div class="row my-5" id="issues">
                <div class="col s12">
                    <h3 class="mb-0">Individual and Social Issues</h3>
                </div>
                <div class="col 12 m7 mt-0">
                    <p class="ex-light">We study a wide variety of settings from the workplace to urban city farms. We aim to develop understandings of these settings and the unique issues and concerns that arise in them. In these studies, our emphasis is on the role technology
                        plays or might play, and where there is scope for rethinking the relations between the social and technical.</p>
                </div>
                <div class="col s12 m5">
                    <p class="small">Projects:<br>
                        <template-listing v-for="(item,index) in items" theme="issues" v-bind:item="item['fields']['research-theme']" v-bind:name="item['fields']['project-name']" v-bind:url="item['fields']['project-url']"></template-listing>
                    </p>
                    <p class="small">Select Publications:<br>
                        <span v-for="pub in pubs" v-if="pub['fields']['theme'].includes('issues')" class="small">
                        <a :href="'http://dx.doi.org/' + pub['fields']['doi']" target="_new">{{ pub['fields']['title'] }} ({{ pub['fields']['year'] }})</a>
                        <!-- <a class="tooltipped" data-position="bottom" data-tooltip="I am a tooltip">{{ pub['fields']['title'] }} ({{ pub['fields']['year'] }})</a> -->

                    </span></p>
                </div>
            </div>
            <div class="row my-5" id="methods">
                <div class="col s12 m7 offset-m5">
                    <h3 class="mb-0">Design Methods</h3>
                </div>
                <div class="col s12 m7 mt-0 push-m5">
                    <p class="ex-light">We experiment with adapting or inventing new design methods that respond to the specific settings or people we work with. Our research that represents dementia care through using the medium of comics illustrates the innovative and
                        exploratatory nature of this work.</p>
                    <p class="ex-light">Much of our work with design methods also aims to involve a wider cross-section of people in design through participatory methods. Our research with people with aphasia, for example, experiments with different co-design approaches
                        to give end-users greater influence over the design of their creative tools.</p>
                </div>
                <div class="col s12 m4 pull-m7 offset-m1 right-align">
                    <p class="small">Projects:<br>
                        <template-listing v-for="(item,index) in items" theme="methods" v-bind:item="item['fields']['research-theme']" v-bind:name="item['fields']['project-name']" v-bind:url="item['fields']['project-url']"></template-listing>
                    </p>
                    <p class="small">Select Publications:<br>
                        <span v-for="pub in pubs" v-if="pub['fields']['theme'].includes('methods')" class="small"><a :href="'http://dx.doi.org/' + pub['fields']['doi']" target="_new">{{ pub['fields']['title'] }} ({{ pub['fields']['year'] }})</a><br></span>
                </div>
            </div>
            <div class="row my-5" id="systems">
                <div class="col s12">
                    <h3 class="mb-0">Interactive systems</h3>
                </div>
                <div class="col 12 m7 mt-0">
                    <p class="ex-light">Our research involes exploring both exisiting and new technologies for novel applications. We're motivated, in particular, to explore protype systems that support people in ways that meet their specific needs or that align with individual
                        or communal values. Our projects with people with aphasia, for example has led to the design of new creative tools for writing and producing visual media.</p>
                </div>
                <div class="col s12 m5">
                    <p class="small">Projects:<br>
                        <template-listing v-for="(item,index) in items" theme="systems" v-bind:item="item['fields']['research-theme']" v-bind:name="item['fields']['project-name']" v-bind:url="item['fields']['project-url']"></template-listing>
                    </p>
                    <p class="small">Select Publications:<br>
                        <span v-for="pub in pubs" v-if="pub['fields']['theme'].includes('systems')" class="small"><a :href="'http://dx.doi.org/' + pub['fields']['doi']" target="_new">{{ pub['fields']['title'] }} ({{ pub['fields']['year'] }})</a><br></span>
                </div>
            </div>
        </div>
    </main>

    <template-footer id="footer"></template-footer>

    <script src="http://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="../js/vue_components.js"></script>
    <script type="text/javascript" src="../js/vue_researchlist"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    let projectsURL = "https://api.airtable.com/v0/" + app_id + "/projects?filterByFormula=NOT%28%7Bresearch-theme%7D%20%3D%20%27%27%29";
                    let pubsURL = "https://api.airtable.com/v0/" + app_id + "/select-pubs?sort%5B0%5D%5Bfield%5D=year";
                    var self = this;
                    self.items = [];
                    self.pubs = [];
                    axios.all([
                        axios.get(projectsURL, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }),
                        axios.get(pubsURL, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        })
                    ]).then(function(response) {
                        self.items = response[0].data.records;
                        self.pubs = response[1].data.records;
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>

</html> });
</script>
</body>

</html>