<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="./css/styles.css">
    <title>interactions magazine | Deadlines</title>
</head>

<body>
    <main>
        <div class="container">

            <div class="row justify-content-center align-items-center" id="page-title">
                <div class="col-12 col-md-3 my-md-5 mt-5 order-md-5">
                    <a href="https://interactions.acm.org">
                        <img class="float-right" src="https://interactions.acm.org/images/logo.gif" alt="interactions magazine logo" width="160px">
                    </a>
                </div>
                <div class="col-12 col-md-7">
                    <h1 class="font-weight-bold my-5">interactions Magazine</h1>
                </div>
            </div>

            <div class="row justify-content-center my-5" id="issue-title">
                <div class="col-12 col-md-10">
                    <h2 class="font-weight-bold" id="subtitle">Deadlines</h2>
                    <p>Upcoming deadlines for regular contributions from <a href="#forum-subtitle">forum editors</a> and <a href="#columnists-subtitle">columnists</a>.</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10">

                    <p class="font-weight-bold big" id="forum-subtitle">Forums Editors</p>

                    <div id="app-forum">

                        <table class="table table-striped table-sm table-hover">
                            <tbody>
                                <tr class="bg-dark text-white">
                                    <td class="align-bottom font-weight-bold" width="25%">Editor/Forum</td>
                                    <td class="font-weight-bold text-right" width="10%">Issue:<br>Deadline:<br>Debate:</td>
                                    <td v-for="issue in issues" width="10%">
                                        <table-head v-bind:issue="issue['fields']['months']" v-bind:year="issue['fields']['year']" v-bind:deadline="issue['fields']['reg-deadline']" v-bind:debate="issue['fields']['Debate']"></table-head>
                                    </td>
                                </tr>
                                <tr v-for="item in items">
                                    <td class="align-middle border-right-0" colspan="2">
                                        <author-details v-if="item['fields']['regular-content-name']" v-bind:name="item['fields']['Name']" v-bind:content="item['fields']['regular-content-name']" type="Forum"></author-details>
                                        <author-details v-else v-bind:name="item['fields']['Name']" content="TBA" type="Forum"></author-details>
                                    </td>
                                    <td v-for="issue in issues" class="align-middle text-center border-left">
                                        <div v-if="issue['fields']['Forum editors'].includes(item['fields']['ID'])" v-b-popover.hover.top="item['fields']['regular-content-name'] + ' due ' + issue['fields']['reg-deadline']" v-bind:title="issue['fields']['months'] + ' Issue'" v-b-hover="handleHover">
                                            <b-icon v-if="isHovered" icon="check" font-scale="1.5"></b-icon>
                                            <b-icon v-else icon="check" font-scale="1.4"></b-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-10">
                    <p class="font-weight-bold" id="columnists-subtitle">Columnists</p>
                    <div id="appColumnists">
                        <table class="table table-striped table-sm table-hover">
                            <tbody>
                                <tr class="bg-dark text-white">
                                    <td class="align-bottom font-weight-bold" width="25%">Columnists/Column</td>
                                    <td class="font-weight-bold text-right" width="10%">Issue:<br>Deadline:<br>Debate:</td>
                                    <td v-for="issue in issues" width="10%">
                                        <table-head v-bind:issue="issue['fields']['months']" v-bind:year="issue['fields']['year']" v-bind:deadline="issue['fields']['reg-deadline']" v-bind:debate="issue['fields']['Debate']"></table-head>
                                    </td>
                                </tr>
                                <tr v-for="item in items">
                                    <td class="align-middle border-right-0" colspan="2">
                                        <author-details v-if="item['fields']['regular-content-name']" v-bind:name="item['fields']['Name']" v-bind:content="item['fields']['regular-content-name']" type="Column"></author-details>
                                        <author-details v-else v-bind:name="item['fields']['Name']" content="TBA" type="Column"></author-details>
                                    </td>
                                    <td v-for="issue in issues" class="align-middle text-center border-left">
                                        <div v-if="issue['fields']['Columnists'].includes(item['fields']['ID'])" :id="issue['fields']['Issue no.'] + '-' + item['fields']['Last Name']" v-b-popover.hover.top="item['fields']['regular-content-name'] + ' due ' + issue['fields']['reg-deadline']"
                                            v-bind:title="issue['fields']['months'] + ' Issue'" v-b-hover="handleHover">
                                            <b-icon v-if="isHovered" icon="check" font-scale="1.5"></b-icon>
                                            <b-icon v-else icon="check" font-scale="1.4"></b-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9">
                    <div class="my-5">
                        <a href="https://interactions.acm.org">
                            <img src="https://interactions.acm.org/images/logo.gif" alt="interactions magazine logo" width="160px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script type="text/javascript" src="js/vue_component.js"></script>
    <script type="text/javascript">
        var app_id = "appgcGlPwTaZaBImL";
        var app_key = "key8l5YZtQ9FyUoxF";

        var appForum = new Vue({
            el: '#app-forum',
            data: {
                items: [],
                issues: [],
                isHovered: false
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    let editors_url = "https://api.airtable.com/v0/" + app_id + "/Editors%20%26%20Authors?view=forum_editors";
                    let issues_url = "https://api.airtable.com/v0/" + app_id + "/Issues?view=Upcoming";
                    let self = this;
                    axios.all([
                        axios.get(editors_url, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }),
                        axios.get(issues_url, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        })
                    ]).then(function(response) {
                        self.items = response[0].data.records;
                        self.issues = response[1].data.records;
                    }).catch(function(error) {
                        console.log(error);
                    })
                },
                handleHover(hovered) {
                    this.isHovered = hovered
                }
            }
        });

        var appColumnists = new Vue({
            el: '#appColumnists',
            data: {
                items: [],
                issues: [],
                isHovered: false
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    let columnists_url = "https://api.airtable.com/v0/" + app_id + "/Editors%20%26%20Authors?view=columnists";
                    let issues_url = "https://api.airtable.com/v0/" + app_id + "/Issues?view=Upcoming";
                    let self = this;
                    axios.all([
                        axios.get(columnists_url, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }),
                        axios.get(issues_url, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        })
                    ]).then(function(response) {
                        self.items = response[0].data.records;
                        self.issues = response[1].data.records;
                    }).catch(function(error) {
                        console.log(error);
                    })
                },
                handleHover(hovered) {
                    this.isHovered = hovered
                }
            }
        });
    </script>
</body>

</html>