<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@latest/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="./css/styles.css">
    <script defer type="text/javascript" src="https://unpkg.com/jquery@latest/dist/jquery.slim.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/bootstrap@latest/dist/js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
    <script defer type="text/javascript" src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script defer type="text/javascript" src="js/vue_components.js"></script>
    <script defer type="text/javascript" src="js/vue_deadlines.js"></script>
    <title>interactions magazine | Deadlines</title>
</head>

<body>
    <main>
        <div class="container">

            <template-header id="header" subtitle="Deadlines" subtext="Upcoming deadlines for regular contributions from forum <a href='#forum-subtitle'>editors</a> and <a href='#columnists-subtitle'>columnists.">
            </template-header>

            <div class="row justify-content-center my-5">
                <div class="col-12 col-md-10">
                    <div>
                        <p class="font-weight-bold big" id="forum-subtitle">Forums Editors</p>
                    </div>
                    <div id="app-forum">
                        <table class="table table-striped table-sm table-hover table-bordered table-responsive-md">
                            <thead class="bg-dark text-white">
                                <tr class="py-0">
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Issue:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['months']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Deadline:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['reg-deadline']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Dialogue:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['dialogue']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="42" class="align-bottom font-weight-bold border-0" width="100%">Editor/Forum</th>
                                </tr>
                            </thead>
                            <tbody class="border-bottom">
                                <tr v-for="item in items">
                                    <td class="align-middle border-right-0" colspan="2">
                                        <author-details v-if="item['fields']['regular-content-name']" v-bind:name="item['fields']['Name']" v-bind:content="item['fields']['regular-content-name']" type="Forum"></author-details>
                                        <author-details v-else v-bind:name="item['fields']['Name']" content="TBA" type="Forum"></author-details>
                                    </td>
                                    <td v-for="issue in issues" class="align-middle text-center border-left">
                                        <div v-if="!issue['fields']['Forum editors']"></div>
                                        <div v-else-if="issue['fields']['Forum editors'].includes(item['fields']['ID'])" v-b-popover.hover.top="item['fields']['regular-content-name'] + ' due ' + issue['fields']['reg-deadline']" v-bind:title="issue['fields']['months'] + ' Issue'" v-b-hover="handleHover">
                                            <b-icon v-if="isHovered" icon="check" font-scale="1.5"></b-icon>
                                            <b-icon v-else icon="check" font-scale="1.4"></b-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-10">
                    <div>
                        <p class="font-weight-bold" id="columnists-subtitle">Columnists</p>
                    </div>
                    <div id="appColumnists">
                        <table class="table table-striped table-sm table-hover table-bordered table-responsive-md">
                            <thead class="bg-dark text-white">
                                <tr class="py-0">
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Issue:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['months']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Deadline:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['reg-deadline']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2" class="align-top font-weight-bold text-right border-0 py-0" width="35%">Dialogue:</th>
                                    <th v-for="issue in issues" class="align-top font-weight-normal text-left border-0 py-0" width="10%">
                                        <table-head v-bind:head="issue['fields']['dialogue']" v-bind:view_id="issue['fields']['view-id']" v-bind:dialogue="issue['fields']['dialogue']"></table-head>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="42" class="align-bottom font-weight-bold border-0" width="100%">Columnist/Column</th>
                                </tr>
                            </thead>
                            <tbody class="border-bottom">
                                <tr v-for="item in items">
                                    <td class="align-middle border-right-0" colspan="2">
                                        <author-details v-if="item['fields']['regular-content-name']" v-bind:name="item['fields']['Name']" v-bind:content="item['fields']['regular-content-name']" type="Column"></author-details>
                                        <author-details v-else v-bind:name="item['fields']['Name']" content="TBA" type="Column"></author-details>
                                    </td>
                                    <td v-for="issue in issues" class="align-middle text-center border-left">
                                        <div v-if="!issue['fields']['Columnists']"></div>
                                        <div v-else-if="issue['fields']['Columnists'].includes(item['fields']['ID'])" v-b-popover.hover.top="item['fields']['regular-content-name'] + ' due ' + issue['fields']['reg-deadline']" v-bind:title="issue['fields']['months'] + ' Issue'" v-b-hover="handleHover">
                                            <b-icon v-if="isHovered" icon="check" font-scale="1.5"></b-icon>
                                            <b-icon v-else icon="check" font-scale="1.4"></b-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <template-footer id="footer"></template-footer>
</body>

</html>