<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>interactions magazine | Submission</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row justify-content-center" id="page-title">
                <div class="col-12 col-md-9">
                    <h1 class="font-weight-bold my-5">interactions Magazine</h1>
                </div>
            </div>
            <div class="row justify-content-center" id="submission-title">
                <div class="col-12 col-md-9">
                    <h2 class="font-weight-bold mb-3">Submission details</h2>
                </div>
            </div>
            <div class="row justify-content-center" id="submission-details">
                <div class="col-12 col-md-9">
                    <div id="app-sub">
                        <div v-for="(item, index) in items">
                            <div v-if="index == 0" id="submission">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th class="align-middle" scope="row">Title
                                            </th>
                                            <td class="align-middle">
                                                <div v-if="item['fields']['Title of text']">
                                                    <p class="font-weight-bold my-2">
                                                        {{ item['fields']['Title of text'] }}
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" width="25%" scope="row">Primary Author</th>
                                            <td class="align-middle" width="75%">
                                                <div v-if="item['fields']['Primary Contact']">
                                                    <p class="lbr my-2">{{ item['fields']['Primary Contact'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" width="25%" scope="row">All Authors</th>
                                            <td class="align-middle" width="75%">
                                                <div v-if="item['fields']['Author List']">
                                                    <p class="lbr my-2">{{ item['fields']['Author List'] }}</p>
                                                </div>
                                                <div v-else>
                                                    <p class="lbr my-2"><em>If there are co-authors for this submission please submit their details using this <a href="http://j.mp/ix-mag-author-form">form</a>, and email us with the order you'd like them to be listed for your contribution.</em></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="item['fields']['Sub Editor']">
                                            <th class="align-middle" width="25%" scope="row">Sub Editor</th>
                                            <td width="75%">
                                                <div>
                                                    <p class="lbr my-2">{{ item['fields']['Sub Editor'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" width="25%" scope="row">Content Type</th>
                                            <td class="align-middle" width="75%">
                                                <div v-if="item['fields']['Type']">
                                                    <p class="lbr my-2">{{ item['fields']['Type'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" width="25%" scope="row">Target Issue</th>
                                            <td width="75%">
                                                <div v-if="item['fields']['Target Issue']">
                                                    <p class="lbr my-2">{{ item['fields']['Target Issue'] }} {{ item['fields']['Target Year'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" scope="row">Insights</th>
                                            <td>
                                                <div v-if="item['fields']['Insights']">
                                                    <p class="lbr my-2">{{ item['fields']['Insights'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-danger" v-if="item['fields']['Status'] == 'Pending'">
                                            <th class="align-middle" width="25%" scope="row">Status</th>
                                            <td class="align-middle" width="75%">
                                                <div>
                                                    <p class="lbr my-2"><span>{{ item['fields']['Status'] }}</span><span v-if="item['fields']['Responsibility']"> - under responsibility of {{ item['fields']['responsibility-string'] }}.</span> The contribution has yet to enter
                                                        our review process.</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-warning" v-if="item['fields']['Status'] == 'In process'">
                                            <th class="align-middle" width="25%" scope="row">Status</th>
                                            <td class="align-middle" width="75%">
                                                <div>
                                                    <p class="lbr my-2"><span>{{ item['fields']['Status'] }}</span><span v-if="item['fields']['Responsibility']"> - under responsibility of {{ item['fields']['responsibility-string'] }}</span></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-success" v-if="item['fields']['Status'] == 'Ready'">
                                            <th class="align-middle" width="25%" scope="row">Status</th>
                                            <td class="align-middle" width="75%">
                                                <div>
                                                    <p class="lbr my-2"><span>{{ item['fields']['Status'] }}</span><span v-if="item['fields']['Responsibility']"> - under responsibility of {{ item['fields']['responsibility-string'] }}.</span> The contribution has been passed
                                                        to the ACM in prepartion for publication.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="submission-title">
                <div class="col-12 col-md-9">
                    <h2 class="font-weight-bold mt-5">Primary author details</h2>
                </div>
            </div>
            <div class="row justify-content-center my-3" id="author-details">
                <div class="col-12 col-md-9">
                    <div id="app-auth">
                        <div v-for="(item, index) in items">
                            <div v-if="index == 0" id="author">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th class="align-middle" scope="row">Primary Author</th>
                                            <td class="align-middle">
                                                <div v-if="item['fields']['Name']">
                                                    <p class="font-weight-bold my-2">
                                                        {{ item['fields']['Name'] }}
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle" width="25%" scope="row">Organisation</th>
                                            <td class="align-middle" width="75%">
                                                <div v-if="item['fields']['Organisation']">
                                                    <p class="lbr my-2">{{ item['fields']['Organisation'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9">
                    <div class="my-5">
                        <a href="https://interactions.acm.org">
                            <img src="https://interactions.acm.org/images/logo.gif" alt="interactions magazine logo" width="160px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var app_id = "appgcGlPwTaZaBImL";
        var app_key = "key8l5YZtQ9FyUoxF";
        var author_rec;
        var app_sub = new Vue({
            el: '#app-sub',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var sub_id = url.searchParams.get("id");
                    var self = this;
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/Content?filterByFormula=FIND(%22" + sub_id + "%22%2CID)&maxRecords=1", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records;
                        obj = response.data.records;
                        author_rec = obj[0].fields['Contact Author'];
                        console.log('Author record: ' + author_rec);
                        /* for (var i = 0; i < obj.length; i++) {
                            author_rec[i] = obj[i].fields["Contact Author"]
                            console.log("Author record: " + author_rec[i])
                        } */
                    }).catch(function(error) {
                        console.log(error);
                    })
                }
            }
        })
        var app_auth = new Vue({
            el: '#app-auth',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    var self = this;
                    this.items = []
                    if (typeof author_rec == 'undefined') {
                        setTimeout(() => {
                            console.log("pause!");
                            axios.get(
                                "https://api.airtable.com/v0/appgcGlPwTaZaBImL/Editors%20%26%20Authors?filterByFormula=FIND(%22recRH3STtNF28R2jT%22%2CID)&maxRecords=1", {
                                    //"https://api.airtable.com/v0/" + app_id + "/Editors%20%26%20Authors?filterByFormula=FIND(%22" + author_rec + "%22%2CID)&maxRecords=1", {
                                    headers: {
                                        Authorization: "Bearer " + app_key
                                    }
                                }
                            ).then(function(response) {
                                self.items = response.data.records;
                                obj = response.data.records;
                                console.log('Author record v.0: ' + author_rec);
                                author_name = obj[0].fields['Name'];
                                console.log("Author name: " + author_name);
                            }).catch(function(error) {
                                console.log(error);
                            })
                        }, 1000);

                    }
                }
            }
        })
    </script>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>