<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="./css/styles.css">
    <title>interactions magazine | Issue details</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row justify-content-center align-items-center" id="page-title">
                <div class="col-12 col-md-3 my-5 order-md-5">
                    <a href="https://interactions.acm.org">
                        <img class="float-right" src="https://interactions.acm.org/images/logo.gif" alt="interactions magazine logo" width="160px">
                    </a>
                </div>
                <div class="col-12 col-md-7">
                    <h1 class="font-weight-bold mt-5">interactions Magazine</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div id="app">
                        <div v-for="(item, index) in items">
                            <div v-if="index == 0" class="mb-5" id="issue-title">
                                <h2 id="subtitle">Issue: {{ item['fields']['Target Issue'] }} {{ item['fields']['Target Year'] }}</h2>
                                <a>This is a list of provisional content for the {{ item['fields']['Target Issue'] }} {{ item['fields']['Target Year'] }} issue of the <a href="https://interactions.acm.org/" target="_blank">ACM interactions magazine</a>.
                                Details are subject to change.</p>
                            </div>
                        </div>

                        <table class="table table-hover table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="font-weight-bold small text-left border-right" width="15%">Type</th>
                                    <th scope="col" class="font-weight-bold small text-center border-right" width="30%">Primary Author</th>
                                    <th scope="col" class="font-weight-bold small text-center" width="40%">Title</th>
                                    <th scope="col" class="font-weight-bold small text-right" width="40%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items" class="small">
                                    <td class="text-left border-right" width="15%">{{ item['fields']['Type'] }}</td>
                                    <td class="text-center border-right" width="30%">
                                        <span v-if="item['fields']['Primary Contact'] == 'Provisional/Planned Content'">TBA</span>
                                        <span v-else-if="item['fields']['Primary Contact']">{{ item['fields']['Primary Contact'] }}</span>
                                        <span v-else>TBA</span>
                                    </td>
                                    <td class="text-center" width="45%">
                                        <span v-if="item['fields']['Title of text']">{{ item['fields']['Title of text'] }}</span>
                                        <span v-else>TBA</span>
                                    </td>
                                    <td class="text-right" width="10%">
                                        <span v-if="item['fields']['Status'] == 'Pending'" class="badge badge-danger">Pending</span>
                                        <span v-if="item['fields']['Status'] == 'In process'" class="badge badge-warning">In process</span>
                                        <span v-if="item['fields']['Status'] == 'Ready'" class="badge badge-success">Ready</span>
                                        <span v-if="item['fields']['Status'] == 'Planning'" class="badge badge-secondary">Planned</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9">
                    <div class="my-5">
                        <a href="https://interactions.acm.org">
                            <img src="https://interactions.acm.org/images/logo.gif" alt="interactions magazine logo" width="160px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script type="text/javascript" src="js/vue_component.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        var app_id = "appgcGlPwTaZaBImL";
        var app_key = "key8l5YZtQ9FyUoxF";
        var issue_view;

        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {
                    let url = new URL(window.location.href);
                    // Get issue view
                    if (url.searchParams.get("view") == null) {
                        issue_view = encodeURIComponent("May/Jun 2020");
                    } else {
                        issue_view = url.searchParams.get("view");
                    }
                    console.log(issue_view);
                    let submission_url = "https://api.airtable.com/v0/" + app_id + "/Content?view=" + issue_view;
                    let self = this;
                    axios.get(
                        submission_url, {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records;
                        console.log(self.items);
                    }).catch(function(error) {
                        console.log(error);
                    })
                }
            }
        });
    </script>
</body>

</html>