<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="HCID, seminar, talks" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HCID | MSc Students</title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="no-shadows">
                <div class="nav-wrapper white">
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons grey-text text-darken-2">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-small-and-down">
                        <li class="active"><a class="dropdown-trigger grey-text text-darken-2" href="#!" data-target="dropdown1">HCID</a></li>
                        <li><a href="../centre/charter" class="grey-text text-darken-2">Charter</a></li>
                        <li><a href="../centre/members" class="grey-text text-darken-2">Members</a></li>
                        <li><a href="../centre/projects" class="grey-text text-darken-2">Projects</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Side nav structure -->
        <ul class="sidenav" id="mobile-nav">
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a href="../centre/charter" class="menu-subheader">Charter</a></li>
            <li><a href="../centre/members" class="menu-subheader">Members</a></li>
            <li><a href="../centre/projects" class="menu-subheader">Projects</a></li>
            <li><a href="../centre/calendar" class="menu-subheader">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li class="active"><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- HCID dropdown menu -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a class="menu-header" href="../">HCID</a></li>
            <li><a class="menu-subheader" href="../centre/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../centre/reading-group">Reading Group</a></li>
            <li><a class="menu-subheader" href="../centre/reading-group-calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="menu-header" href="../seminar/">Seminar Series</a></li>
            <li><a class="menu-subheader" href="../seminar/speakers">Speakers</a></li>
            <li><a class="menu-subheader" href="../seminar/calendar">Calendar</a></li>
            <li class="divider" tabindex="-1"></li>
            <li class="active"><a class="menu-header" href="../msc/student-photos">MSc Students</a></li>
            <li><a class="menu-subheader" href="../msc/calendar">Calendar</a></li>
        </ul>

        <!-- Page title -->
        <div class="container" style="padding-bottom:5rem;">
            <div class="row">
                <div class="col s12 m9 l10">
                    <h1 class="page-title">
                        <a class="black-text" href="../">HCID</a><span class="red-text">:<br>MSc Students</span>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div id="app">
                <div class="row">
                    <div class="col s12 m9 l10" id="bodybox">

                        <table class="centered collection with-header scrollspy" id="ft">
                            <tr class="collection-header">
                                <th>
                                    <h2>Full Time</h2>
                                </th>
                            </tr>
                            <tr class="collection-item">
                                <td style="display: inline-block;" v-for="item in items" v-if="item['fields']['status'] == 'full-time'">
                                    <div v-if="item['fields']['photo-url']">
                                        <img class="head-shot responsive-img" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['last-name'] + '_photo'" height="120px" />
                                    </div>
                                    <div v-else>
                                        <i class="large material-icons" style="border-radius: 5%;">assignment_ind</i>
                                    </div>
                                    <div>
                                        {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="centered collection with-header scrollspy" id="pt1">
                            <tr class="collection-header">
                                <td>
                                    <h2>
                                        Part-time Year 1
                                    </h2>
                                </td>
                            </tr>
                            <tr class="collection-item">
                                <td style="display: inline-block;" v-for="item in items" v-if="item['fields']['status'] == 'part-time-y1'">
                                    <div v-if="item['fields']['photo-url']">
                                        <img class="head-shot responsive-img" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['last-name'] + '_photo'" height="120px" />
                                    </div>
                                    <div v-else>
                                        <i class="large material-icons" style="border-radius: 5%;">assignment_ind</i>
                                    </div>
                                    <div>
                                        {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="centered collection with-header scrollspy" id="pt2">
                            <tr class="collection-header">
                                <td>
                                    <h2>
                                        Part-time Year 2
                                    </h2>
                                </td>
                            </tr>
                            <tr class="collection-item">
                                <td style="display: inline-block;" v-for="item in items" v-if="item['fields']['status'] == 'part-time-y2'">
                                    <div v-if="item['fields']['photo-url']">
                                        <img class="head-shot responsive-img" v-bind:src="item['fields']['photo-url']" v-bind:alt="item['fields']['last-name'] + '_photo'" height="120px" />
                                    </div>
                                    <div v-else>
                                        <i class="large material-icons" style="border-radius: 5%;">assignment_ind</i>
                                    </div>
                                    <div>
                                        {{ item['fields']['first-name'] }}<br>{{ item['fields']['last-name'] }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="col hide-on-small-only m3 l2">
                        <ul id="toc" class="section table-of-contents">
                            <li>
                                <a href="#ft">Full-time</a>
                            </li>
                            <li>
                                <a href="#pt1">Part-time Y1</a>
                            </li>
                            <li>
                                <a href="#pt2">Part-time Y2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer grey lighten-5">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" data-aos="fade-up" data-aos-delay="150" data-aos-anchor-placement="bottom-bottom" data-aos-easing="ease-in-out-quad">
                    <h5 class="bold grey-text text-darken-4">
                        HCID
                    </h5>
                    <div>
                        <a class="link grey-text text-darken-4" href="https://hcid.city">Centre for Human-Computer Interaction Design</a>
                    </div>
                </div>
                <div id="address" aria-label="Address" class="col l4 offset-l2 s12 mt-4">
                    <ul>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">City, University of London</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">College Building</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">276-284 St John Street</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">Clerkenwell</a>
                        </li>
                        <li>
                            <a class="grey-text text-darken-1" href="https://goo.gl/maps/QbdWpuT8ycp">London, EC1V 4PB</a>
                        </li>
                        <li aria-label="Link to Visting page" class="mt-3">
                            <a class="grey-text text-lighten-1 link" href="https://hcid.city/visiting.html"><i class="material-icons md-14 pt-1">location_on</i>&nbsp;Visiting us...</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col 4">
                    <div class="footer-copyright grey lighten-5 grey-text text-lighten-2">
                        <a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/copyleft.en.html" title="What is Copyleft? - GNU Project - Free Software Foundation">Copyleft</a>&nbsp;<span class="copyleft">&copy;</span>&nbsp;
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>&nbsp;GNU&nbsp;<a class="grey-text text-lighten-2" href="https://www.gnu.org/licenses/gpl.html" title="The GNU General Public License v3.0 - GNU Project - Free Software Foundation">General Public License</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function() {
                this.loadItems();
            },
            methods: {
                loadItems: function() {

                    // Init variables
                    var self = this
                    var app_id = "appaTssw36NjXo3tt";
                    var app_key = "keyC83ksN49wS10kX";
                    this.items = []
                    axios.get(
                        "https://api.airtable.com/v0/" + app_id + "/students?view=Grid%20view", {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    ).then(function(response) {
                        self.items = response.data.records
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
    <script>
        function fixmetotop() {
            var fixmeTop = $('.table-of-contents').offset().top;
            $(window).scroll(function() {
                //aktuelle Scrollposition auslesen
                var currentScroll = $(window).scrollTop(),
                    //+1em rechnen
                    currentScroll = currentScroll + 15,
                    actualBottom = $('#bodybox').offset().top + $('#bodybox').outerHeight(true),
                    heightSideNav = $('.table-of-contents').outerHeight(true);
                if (currentScroll >= fixmeTop && currentScroll <= actualBottom - heightSideNav) {
                    //CSS for fixed section
                    $('.table-of-contents').css({
                        position: 'fixed',
                        top: '0',
                        bottom: ''
                    });
                } else {
                    if (currentScroll >= actualBottom - heightSideNav) {
                        $('.table-of-contents').css({
                            position: 'fixed',
                            bottom: '0',
                            top: ''
                        });
                    } else {
                        //CSS für nicht fixed setzen
                        $('.table-of-contents').css({
                            position: 'static',
                            bottom: '',
                            top: ''
                        });
                    }
                }
            });
        }
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                hover: true
            });
            fixmetotop();
            $('.scrollspy').scrollSpy();
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>